@model IEnumerable<Web.Domen.Models.PhotoAlbom>
@{
    ViewBag.Title = "Фотогалерея";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts
{
<script src="~/Scripts/AdminJs/imageGalary.js"></script>
}
<div class="albomIndex">
    <div class="controlsBlock">
        <a href="@Url.Action("CreateAlbom")">Добавить фотоальбом</a>
    </div>
    <div class="alboms">
        @if (!Model.Any())
        {
            <h3>Нет ни одного фотоальбома</h3>
        }
        else
        {
            foreach (var item in Model.OrderByDescending(albom => albom.AlbomDate))
            {
                <a href="@Url.Action("AlbomDetails","ImageGalary", new {id=item.Id})">
                    <div class="albomItem">
                        <div class="albomAvatar">
                            <img alt="" src="@(item.Avatar ?? "/Content/img/1.jpg")" />
                        </div>
                        <p>@item.Title</p>
                    </div>
                </a>
            }
        }
    </div>
</div>