@model string
@{
    ViewBag.Title = "CreateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CreateRole</h2>

@Html.ValidationSummary(false)
@using (Html.BeginForm())
{
    @Html.Label("Название роли:")<br/>
    @Html.TextBox("name", Model)
    <button type="submit">Создать</button>
}