@model Microsoft.AspNet.Identity.IdentityResult
@{
    ViewBag.Title = "Спасибо";
    Layout = "~/Views/Shared/_MainRnB.cshtml";
}

<div class="columnBlock">
@if (Model.Succeeded)
{
    <h2>Спасибо</h2>
    <h3>Ваша учетная запись активирована.</h3>
    <p>Вы можете войти в свой личный кабинет, используя данные из письма.</p>
    <p>Настоятельно рекомендуем сменить временный пароль!</p>
}
else
{
    <h2>Ошибка!</h2>
    <h3>Извините, но что-то пошло не так.</h3>
    <p>Возможно, вы уже активировали свою учетную запись, или возникла внутрення ошибка.</p>
    <p>Если эта проблема появится снова, обратитесь к администрации ресурса.</p>
    <h3>Текст ошибки:</h3>
    foreach (var item in Model.Errors)
    {
        <p>@item</p>
    }
}

</div>
