
@{
    ViewBag.Title = "Ошибка входа";
    Layout = "~/Views/Shared/_MainRnB.cshtml";
}

<div class="myColumn">
    <hgroup>
        <h2>Ошибка входа в систему</h2>
        <h3>К сожалению при попытке авторизации возникла ошибка, попробуйте повторить попытку.</h3>
    </hgroup>    
</div>
