
@{
    ViewBag.Title = "Проверьте почту";
    Layout = "~/Views/Shared/_MainRnB.cshtml";
}

<h2>Восстановление пароля</h2>
<p>Проверьте почту, на ваш адрес отправленно письмо с ссылкой на восстановление пароля.</p>

