
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MainRnB.cshtml";
}

<div class="popUpWrapper">
    <div class="formWrapper flexRow">
        <div class="formClose">
            <a href="@ViewBag.fromUrl">
                <p>x</p>
            </a>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)
            <div class="formTitle">
                <h2>
                    Войти в личный <br />кабинет
                </h2>
            </div>
            <div class="inpItem">
                <input type="text" name="login" value="" placeholder="Имя" />
            </div>
            <div class="inpItem">
                <input type="password" name="passdata" value="" placeholder="Пароль" />
            </div>
            <div class="formFooter">
                <button type="submit" class="redButton">Войти</button>
            </div>
        }
        <div class="socLogin flexCol">
            <div class="formTitle">
                <h2>
                    Войти в личный <br />кабинет
                </h2>
            </div>
            <p>Вы можете зарегистрироваться или войти в Личный Кабинет через социальную сеть:</p>
            <div class="socLinks">
                <a><img alt="" src="/Content/img/soc/f.png" width="23" /></a>
                <a><img alt="" src="/Content/img/soc/i.png" width="23" /></a>
                <a><img alt="" src="/Content/img/soc/b.png" width="23" /></a>
                <a><img alt="" src="/Content/img/soc/o.png" width="23" /></a>
                <a><img alt="" src="/Content/img/soc/t.png" width="23" /></a>
            </div>
        </div>
    </div>
</div>
