@model Web.Domen.Models.CustomerViewModel
@{
    ViewBag.Title = "Форма заявки";
    Layout = "~/Views/Shared/_MainRnB.cshtml";
}

<div class="offerBlock">
    <div class="formWrapper">
        @using (Html.BeginForm("Register", "Auth", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="titleBorder">
                <h2>Оставьте заявку на вступление в сообщество!</h2>
            </div>

            <div class="inputRow">
                <div class="inpItem">
                    <p>*</p>
                    <input type="text" name="Title" value="" placeholder="Имя, фамилия" />
                </div>
                <div class="inpItem">
                    <p>*</p>
                    <input type="tel" name="Phone" value="" placeholder="Телефон" />
                </div>
                <div class="inpItem">
                    <p>*</p>
                    <input type="email" name="Email" value="" placeholder="E-mail" />
                </div>
            </div>

            <div class="inputRow">
                <div class="inpItem">
                    <p></p>
                    <input type="text" name="City" value="" placeholder="Город" />
                </div>
                <div class="inpItem">
                    <p></p>
                    <input type="text" name="Birthday" value="" placeholder="Дата рождения" />
                </div>
                <div class="inpItem">
                    <p></p>
                    <input type="text" name="Workplace" value="" placeholder="Место работы, должность" />
                </div>
            </div>
            <p>или зарегистрируйтесь с помощью одной из соцсетей:</p>
            <div class="socLinksBlock">
                <a href="@Url.Action("ExternalLogin", "Auth", new {provider = "Facebook"})" class="face">@*<img alt="" src="/Content/img/soc/2-1.jpg"/>*@</a>
                <a href="@Url.Action("VkAuth", "Auth")" class="vkont">@*<img alt="" src="/Content/img/soc/3-1.jpg"/>*@</a>
            </div>
            <div class="buttonBorder">
                <button type="submit" class="redButton" href="#">Стать членом клуба</button>
            </div>
        }
    </div>
    <p>* Поля, отмеченные звездочкой "*" - обязательны к заполнению</p>
    <p>** Ваши данные ни при каких условиях не будут переданы третьим лицам</p>
</div>
