@model Web.Models.Viewmodels.ForgotPassword
@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_MainRnB.cshtml";
}

<div class="myColumn">
    <div class="formLoginItem">
        @using (Html.BeginForm("RemmemberPassword", "Auth", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="formTitle">
                <h2>
                    Восстановление пароля
                </h2>
            </div>
            <div class="inpItem">
                @Html.TextBoxFor(password => password.Email, new {id = "email", placeholder = "Ваш e-mail", required = ""})
            </div>
            @Html.ValidationMessageFor(password => password.Email)
            <div class="formFooter">
                <button type="submit" class="redButton">Восстановить</button>
            </div>
        }
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#email").validate();
        })
    </script>
}
