<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://web20161013094658.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>web20161013094658.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Web20161013094658</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Web20161013094658</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RnB" Order="1" Enabled="False">
          <Destination Path="Data Source=TELEMIR_RES\SQLEXPRESS;Initial Catalog=RnBData;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Web.Infrastructure.AppIdentityDbContext, Web" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RnBData" Order="2" Enabled="False">
          <Destination Path="Data Source=TELEMIR_RES\SQLEXPRESS;Initial Catalog=RnB;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Web.Domen.Infrastructure.Context, Web.Domen" MigrationConfiguration="Web.Domen.Migrations.Configuration, Web.Domen" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RnB-Web.config Connection String">
      <ParameterValue>Data Source=TELEMIR_RES\SQLEXPRESS;Initial Catalog=RnBData;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RnBData-Web.config Connection String">
      <ParameterValue>Data Source=TELEMIR_RES\SQLEXPRESS;Initial Catalog=RnB;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="RnB" />
    <_ConnectionStringsToInsert Include="RnBData" />
  </ItemGroup>
</Project>