@model IEnumerable<Web.Domen.Models.PatyCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="patySection">
    <div>
        <div class="formPopUp" style="display: none" data-bind="visible:Paty.viewmodel.editPaty().mode()==='EDIT'">
            <div class="formWrapper">
                <div class="closeButton">
                    <button type="button" data-bind="click:Paty.viewmodel.editPaty().mode.bind($data, 'VIEW')">X</button>
                </div>
                <form id="patyForm" class="updRoot" data-bind="submit:Paty.submitPaty">
                    <div class="displayRow">
                        <div class="fleft">
                            <div class="imgWrapper">
                                <img alt="" style="display: none" data-bind="attr:{src:Paty.viewmodel.editPaty().info.Avatar.Path}, visible:Paty.viewmodel.newPhoto()===null" width="123" height="123" />
                                <img alt="" src="" id="patyAvatar" style="display: none" data-bind="visible:Paty.viewmodel.newPhoto" width="123" height="123" />
                                <div class="photoPlaceholder" id="AvatarHolder" data-bind="visible:Paty.viewmodel.haveAvatar()===false">
                                    <h3>нет изображения</h3>
                                    <p>
                                        Для загрузки принимаются изображения в формате <span>*.jped / *.png</span>, размером не более 512кб
                                    </p>
                                    <p style="color: red">Размер изображения 123px*123px.</p>
                                </div>
                                <ul>
                                    <li>
                                        <label>
                                            Выберите файл
                                            <input id="patyInput" type="file" accept="image/jpeg,image/png" />
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="fright">
                            <input name="id" type="hidden" data-bind="value:Paty.viewmodel.editPaty().info.Id" />
                            <input name="category" type="hidden" data-bind="value:Paty.viewmodel.editPaty().info.Category().Id" />
                            <input name="avaId" type="hidden" data-bind="value:Paty.viewmodel.editPaty().info.Avatar.Id" />

                            <input type="text" name="title" data-bind="value:Paty.viewmodel.editPaty().info.Title" placeholder="Наименование" />
                            
                            <input type="text" name="date" id="dt" data-bind="value:Paty.viewmodel.editPaty().info.ExpDate" />
                            
                            <input type="number" name="maxGuests" min="1" data-bind="value:Paty.viewmodel.editPaty().info.MaxGuests" placeholder="Места" />
                            <input type="number" name="rate" min="1" data-bind="value:Paty.viewmodel.editPaty().info.Rate" placeholder="Рейтинг" />
                            <input type="number" name="price" min="0" data-bind="value:Paty.viewmodel.editPaty().info.Price" placeholder="Стоимость" />
                            <input type="text" name="Dres" data-bind="value:Paty.viewmodel.editPaty().info.Dres" placeholder="Дресс-код" />
                            <textarea rows="8" name="descr" data-bind="textInput:Paty.viewmodel.editPaty().info.Description"></textarea>
                            <textarea rows="5" name="interest" data-bind="textInput:Paty.viewmodel.editPaty().info.PatyInterest"></textarea>
                            <button type="submit">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="controlsBlock">
        <button type="button" data-bind="click:Paty.viewmodel.currView.bind($data,'INDEX')">Главная</button>
        <button type="button" data-bind="click:Paty.viewmodel.currView.bind($data,'CATEGORYS')">Категории</button>
        <button type="button" data-bind="click:Paty.viewmodel.currView.bind($data,'PATYS')">Мероприятия</button>
    </div>
    <div class="patyIndex" style="display: none" data-bind="visible:Paty.viewmodel.currView()==='INDEX'">
        <h2>INDEX</h2>
    </div>
    <div class="PatyCategorys" style="display: none" data-bind="visible:Paty.viewmodel.currView()==='CATEGORYS'">
        @Html.Partial("placeholders/_PatyCategorys")
    </div>
    <div class="patys" style="display: none" data-bind="visible:Paty.viewmodel.currView()==='PATYS'">
        @Html.Partial("placeholders/_Patys")
    </div>
</div>

@section scripts
{
<script src="~/Scripts/AdminJs/paty.js"></script>
}
