@model IEnumerable<Web.Domen.Models.PatyCategory>
@{
    ViewBag.Title = "Мероприятия";
    Layout = "~/Views/Shared/_MainRnB.cshtml";
}

<div class="myColumn">
    <h1>Мероприятия</h1>
    <div class="ds"><span> </span><span> </span><span> </span></div>
    <div class="row960w">
        @foreach (var root in Model.Where(category => category.ParentCategory == null))
        {
            <div class="rootItem">
                
                    <div class="rootItemWrapper">
                        <div class="rootTitle">
                            <p><a href="/meropriatiya/@root.RouteTitle">@root.Title</a>
                            </p>
                        </div>
                        @if (Model.Any(category => category.ParentCategory != null && category.ParentCategory.Id == root.Id))
                        {
                            <div class="subBlock">
                                <ul>
                                    @foreach (var item in Model.Where(category => category.ParentCategory != null && category.ParentCategory.Id == root.Id))
                                    {
                                        <li><a href="/spisok-meropriatiy/@item.RouteTitle">@item.Title</a></li>
                                    }
                                </ul>
                            </div>
                        }


                        @if (!Model.Any(category => category.ParentCategory != null && category.ParentCategory.Id == root.Id))
                        {
                            <div class="comingSoon1">
                                <p>СКОРО</p>
                            </div>
                        }
                        @if (root.Avatar != null)
                        {
                            <img alt="" src="@root.Avatar.Path" />
                        }
                    </div>
                
            </div>
        }

    </div>
</div>
