
@{
    ViewBag.Title = "О компании";
    Layout = "~/Views/Shared/_MainRnB.cshtml";
}
<div class="myColumn">
    <h2>О клубе</h2>
    <div class="ds"><span> </span><span> </span><span> </span></div>
    <div class="column970 about1">
        <p>
            КЛУБ <span class="redColor">KRASNOE </span><span style="color: black">&amp; ЧЕРНОЕ</span> - это регулярное общение единомышленников, команда интересных и позитивных людей, в которой
            начинают быстрее расти доходы членов Клуба.
        </p>
        <p>
            Основной инструмент роста бизнеса в Клубе «<span class="redColor">KRASNOE </span><span style="color: black">&amp; ЧЕРНОЕ</span>» - регулярные личные встречи членов Клуба, на которых
            происходит активный обмен опытом, идеями, ресурсами, а также постоянное увеличение количества полезных деловых
            контактов. Что в итоге приводит к решению важных бизнес-задач каждого члена Клуба.
        </p>
        <p>
            Основа эффективной работы команды <span class="redColor">KRASNOE </span><span style="color: black">&amp; ЧЕРНОЕ</span> - это ценности, которые мы поддерживаем в нашем сообществе:
        </p>
        <ul>
            <li><img alt="" src="/Content/img/about/1.png"/>
                <p>Взаимное доверие</p></li>
            <li><img alt="" src="/Content/img/about/2.png"/>
                <p>Позитивное мышление</p></li>
            <li><img alt="" src="/Content/img/about/3.png"/>
                <p>Саморазвитие и стремление к максимальному росту своего дела</p></li>
            <li><img alt="" src="/Content/img/about/4.png"/>
                <p>Выполнение взятых на себя обязательств</p></li>
        </ul>
    </div>
    <div class="aboutBg">
        <div class="shadow"></div>
        <div class="column970 about1">
            <p>
                Клуб предпринимателей <span class="redColor">KRASNOE </span><span style="color: black">&amp; ЧЕРНОЕ</span> провёл с 2016 года более 100 мероприятий: деловых встреч, мастер-классов,
                семинаров, мозговых штурмов, деловых игр, бизнес-ужинов и экскурсионно-деловых поездок.
            </p>
            <p>
                Что даёт членство в Клубе предпринимателей <span class="redColor">KRASNOE </span><span style="color: black">&amp; ЧЕРНОЕ</span>?
            </p>
            <p>
                Вступление в Клуб <span class="redColor">KRASNOE </span><span style="color: black">&amp; ЧЕРНОЕ</span> – это бесплатная инвестиция в ваше развитие. Кроме мероприятий Клуба,
                каждому члену Клуба доступен ряд дополнительных полезных инструментов для развития бизнеса.
            </p>
        </div>
    </div>
    <h3>В пакет члена Клуба <span class="redColor">KRASNOE </span><span style="color: black">&amp; ЧЕРНОЕ</span> входит:</h3>
    <div class="ds"><span> </span><span> </span><span> </span></div>
    <div class="column970 about1">
        <table>
            <tr>
                <td><i>1</i></td>
                <td>
                    <p>
                        <strong>Бесплатное участие</strong> (или со скидкой до 9% для платных мероприятий) во встречах Клуба. Каждый член Клуба может
                        приглашать с собой бесплатно на встречи Клуба своих друзей, коллег и партнёров предпринимателей (по предварительной
                        регистрации).
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <h3 style="text-transform: uppercase">Мероприятия Клуба</h3>
    <div class="row960w">
        <div class="prevelegiiItemAbout">
            <div class="pImgWrapperAbout">
                <img alt="" src="/Content/img/about/11.jpg"/>
            </div>
            <p>
                Живые встречи с людьми,
                которые достигли
                выдающихся результатов
                в бизнесе
            </p>
        </div>
        <div class="prevelegiiItemAbout">
            <div class="pImgWrapperAbout">
                <img alt="" src="/Content/img/about/12.jpg"/>
            </div>
            <p>
                Семинары и мастер-классы
                ведущих экспертов по
                разным бизнес-темам
            </p>
        </div>
        <div class="prevelegiiItemAbout">
            <div class="pImgWrapperAbout">
                <img alt="" src="/Content/img/about/13.jpg"/>
            </div>
            <p>
                Мероприятия
                развлекательного
                характера
            </p>
        </div>
        <div class="prevelegiiItemAbout">
            <div class="pImgWrapperAbout">
                <img alt="" src="/Content/img/about/14.jpg"/>
            </div>
            <p>
                Мозговые штурмы,
                коллективное решение
                бизнес-задач (кейсов)
            </p>
        </div>
        <div class="prevelegiiItemAbout">
            <div class="pImgWrapperAbout">
                <img alt="" src="/Content/img/about/15.jpg"/>
            </div>
            <p>
                Спортивные мероприятия
            </p>
        </div>
        <div class="prevelegiiItemAbout">
            <div class="pImgWrapperAbout">
                <img alt="" src="/Content/img/about/16.jpg"/>
            </div>
            <p>
                Тематические вечера,
                дегустации и бизнес-ужины
            </p>
        </div>
        <div class="prevelegiiItemAbout">
            <div class="pImgWrapperAbout">
                <img alt="" src="/Content/img/about/17.jpg"/>
            </div>
            <p>
                Совместные поездки и
                активный отдых
            </p>
        </div>
    </div>
    <div class="column970 about1">
        <table>
            <tr>
                <td><i>2</i></td>
                <td>
                    <p>
                        Каждый член Клуба получает <strong>доступ в личный кабинет только для членов Клуба</strong>. В личном кабинете каждый член Клуба
                        может разместить публичную информацию о себе и о своей компании. Это дополнительный инструмент продвижения
                        компаний членов Клуба посетителям сайта Клуба. Публичная информация о членах Клуба (по их желанию) размещается на
                        сайте в разделе "Члены клуба".
                    </p>
                </td>
            </tr>
            <tr>
                <td><i>3</i></td>
                <td>
                    <p>
                        Каждый участник нашего сообщества, посетивший мероприятие, получает <strong>прибавку к рейтингу члена клуба</strong>. Члены клуба
                        с более высоким рейтингом обладают набором преимуществ и бонусов при посещении мероприятий. Также сужествует
                        рейтинг партнера клуба.
                    </p>
                </td>
            </tr>
            <tr>
                <td><i>4</i></td>
                <td>
                    <p>
                        <strong>Бесплатные профессиональные фотосессии</strong> от наших партнеров Geometria и Vclube.TV
                    </p>
                </td>
            </tr>
        </table>
    </div>
    @Html.Action("Offer","Home")
</div>