
@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Shared/_MainRnB.cshtml";
}

<div class="myColumn">
    <h2>контакты</h2>
    <div class="ds"><span> </span><span> </span><span> </span></div>
    <table class="hidden-sm hidden-xs contacts">
        <tr>
            <td><i class="fa fa-map-marker"></i></td>
            <td>
                <p>355037, <br/> г. Ставрополь, ул. Пирогова 42/1 офис 25

                </p>
            </td>
            <td><i class="fa fa-phone"></i></td>
            <td>
                <p>+7(962)459-98-51 <br/> +7(918)741-88-03
                </p>
            </td>
            <td><i class="fa fa-envelope"></i></td>
            <td>
                <p>E-mail:<a href="mailto:info@redblackclub.ru">info@redblackclub.ru</a>
                </p></td>
        </tr>
        <tr>
            <td colspan="6"><img alt="" src="/Content/img/carta.jpg"/></td>
        </tr>
    </table>
    <ul class="contacts visible-sm visible-xs">
        <li>
            <i class="fa fa-map-marker"></i>
            <p>
                355037, <br /> г. Ставрополь, ул. Пирогова 42/1 офис 25
            </p>
        </li>
        <li>
            <i class="fa fa-phone"></i>
            <p>
                +7(962)459-98-51 <br/> +7(918)741-88-03
            </p>
        </li>
        <li>
            <i class="fa fa-envelope"></i>
            <p>
                E-mail:<a href="mailto:info@redblackclub.ru">info@redblackclub.ru</a>
            </p>
        </li>
        <li>
            <img alt="" src="/Content/img/carta.jpg" />
        </li>
    </ul>
</div>