@using Newtonsoft.Json
@{
    Layout = "/Views/Shared/_MainRnB.cshtml";
}
<div class="countdownContainer">
    <h3>До события осталось:</h3>
    <table>
        <tr class="counterDigits">
            <td id="days">00</td>
            <td>:</td>
            <td id="hours">00</td>
            <td>:</td>
            <td id="minutes">00</td>
            <td>:</td>
            <td id="seconds">00</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="titles">
            <td colspan="2">дней</td>
            <td colspan="2">часов</td>
            <td colspan="2">минут</td>
            <td>секунд</td>
        </tr>
    </table>
</div>
<p>@ViewBag.l</p>
@using (Html.BeginForm("Countdown", "Home", FormMethod.Get))
{
    <input name="text"/>
    <button type="submit">To Latin</button>
}
@section scripts
{
<script src="~/Scripts/AdminJs/Countdown.js"></script>
    <script type="text/javascript">
        Countdown(@Html.Raw(JsonConvert.SerializeObject(ViewBag.TargetDate)),['days','hours','minutes','seconds'], function() {
            alert("Finish");
        });
    </script>
}
