<footer>
    <div class="row960w">
        <div class="hidden-sm hidden-xs fBlock fWe">
            <p>Подписывайтесь и читайте нас в социальных сетях и смотрите нас на канале Youtube:</p>
            <div class="socLinks">
                <a><img alt="" src="/Content/img/soc/t.png" width="30"/></a>
                <a><img alt="" src="/Content/img/soc/f.png" width="30"/></a>
                <a><img alt="" src="/Content/img/soc/b.png" width="30"/></a>
            </div>
            <div class="socLinks">
                <a><img alt="" src="/Content/img/soc/o.png" width="30"/></a>
                <a><img alt="" src="/Content/img/soc/y.png" width="30"/></a>
                <a><img alt="" src="/Content/img/soc/i.png" width="30"/></a>
            </div>
        </div>
        <div class="visible-sm visible-xs fBlock fWe">
            <p>Подписывайтесь и читайте нас в социальных сетях и смотрите нас на канале Youtube:</p>
            <div class="socLinks">
                <a><img alt="" src="/Content/img/soc/t.png" width="30" /></a>
                <a><img alt="" src="/Content/img/soc/f.png" width="30" /></a>
                <a><img alt="" src="/Content/img/soc/b.png" width="30" /></a>
                <a><img alt="" src="/Content/img/soc/o.png" width="30" /></a>
                <a><img alt="" src="/Content/img/soc/y.png" width="30" /></a>
                <a><img alt="" src="/Content/img/soc/i.png" width="30" /></a>
            </div>
        </div>
        <div class="fBlock lList">
            <ul>
                <li><a href="@Url.Action("Company","Home")">О клубе</a></li>
                <li><a href="#">Привилегии</a></li>
                <li><a href="#">Члены клуба</a></li>
                <li><a href="@Url.Action("Paty","Paty")">Мероприятия</a></li>
                <li><a href="#">Бизнес ужины</a></li>
                <li><a href="#">Политика <br /> конфиденциальности</a></li>
            </ul>
        </div>
        <div class="fBlock lList">
            <ul>
                <li><a href="#">Сотрудничество</a></li>
                <li><a href="#">Лидогенерация</a></li>
                <li><a href="#">PR-сопровождение</a></li>
                <li><a href="#">Сопровождение <br/> мероприятий</a></li>
                <li><a href="#">Поддержка мероприятий</a></li>
                <li><a href="@Url.Action("Galary")">Галерея</a></li>
                <li><a href="#">Оферта</a></li>
            </ul>
        </div>
        <div class="fBlock fContact">
            <h2>контакты:</h2>
            <h3>
                355037, <br /> г. Ставрополь, <br /> ул. Пирогова 42/1<br/> офис 25
            </h3>
            <h3 style="font-weight: 600">+7(962) 459-98-51</h3>
            <h3 style="font-weight: 600">+7(918) 741-88-03</h3>
            <h3><a href="mailto:info@redblackclub.ru">info@redblackclub.ru</a></h3>
        </div>
        <div class="fBlock fLogo">
            <a href="#" class="redButton">Задать вопрос</a>
            <p>ИП Воронов Василий <br/> Сергеевич</p>
            <p>ИНН 263406917904</p>
            <p>ОГРН 307262809300040</p>
            <p>Разработка сайта:</p>
            <img alt="developer" src="/Content/img/logoWA.png" />
        </div>
    </div>
</footer>
