<div class="nearParty" style="background: url('/Content/img/8fon.jpg') no-repeat top center; position: relative; height: 448px;">
    <h2 style="color: white;z-index: 2">наши партнеры</h2>
    <div style="z-index: 2"><span> </span><span> </span><span> </span></div>
    <div class="row960">
        <div class="prevItem" id="prevPar" style="margin: 0 20px 0 0">
            <img alt="" src="/Content/img/prevBtn.png"/>
        </div>
        <div class="partnersCarousel">
            <div class="partnItem">
                <div class="pLogoWrapper">
                    <img alt="" src="/Content/img/pl.png" width="100"/>
                </div>
            </div>
            <div class="partnItem">
                <div class="pLogoWrapper">
                    <img alt="" src="/Content/img/pl.png" />
                </div>
            </div>
            <div class="partnItem">
                <div class="pLogoWrapper">
                    <img alt="" src="/Content/img/pl.png" />
                </div>
            </div>
            <div class="partnItem">
                <div class="pLogoWrapper">
                    <img alt="" src="/Content/img/pl.png" />
                </div>
            </div>
            <div class="partnItem">
                <div class="pLogoWrapper">
                    <img alt="" src="/Content/img/pl.png" />
                </div>
            </div>
            <div class="partnItem">
                <div class="pLogoWrapper">
                    <img alt="" src="/Content/img/pl.png" />
                </div>
            </div>
        </div>
        <div class="nextItem" id="nextPar">
            <img alt="" src="/Content/img/nextBtn.png" />
        </div>
    </div>
</div>