@model IEnumerable<Web.Domen.Models.ImageData>
<div class="myColumn" id="photoBlock">
    <h2>Посмотрите фото и видео с наших мероприятий</h2>
    <div><span> </span><span> </span><span> </span></div>
    <div class="btnBlock">
        <a href="#" class="" data-bind="click:photoView.bind($data, 'PHOTO'), css:{redButton:photoView()==='PHOTO',grayButton:photoView()!=='PHOTO' }">Фото</a>
        <a href="#" class="" data-bind="click:photoView.bind($data, 'VIDEO'), css:{redButton:photoView()!=='PHOTO',grayButton:photoView()==='PHOTO' }">Видео</a>
    </div>
    <div class="row960w" style="display: none;" data-bind="visible:photoView()==='PHOTO'">
        @foreach (var item in Model)
        {
            <div class="pvImageWr">
                <div class="pvBorder"></div>
                <img alt="" src="@item.Path" />
            </div>
        }
    </div>
    <div class="row960w" style="display: none;" data-bind="visible:photoView()==='VIDEO'">
      @*<div class="pvImageWr">
            <div class="pvBorder"></div>
            <iframe width="250" height="179" src="https://www.youtube.com/embed/iUWtNrfLD10" allowfullscreen></iframe>
        </div>
        <div class="pvImageWr">
            <div class="pvBorder"></div>
            <iframe width="250" height="179" src="https://www.youtube.com/embed/iUWtNrfLD10" allowfullscreen></iframe>
        </div>
        <div class="pvImageWr">
            <div class="pvBorder"></div>
            <iframe width="250" height="179" src="https://www.youtube.com/embed/iUWtNrfLD10" allowfullscreen></iframe>
        </div>
        <div class="pvImageWr">
            <div class="pvBorder"></div>
            <iframe width="250" height="179" src="https://www.youtube.com/embed/iUWtNrfLD10" allowfullscreen></iframe>
        </div>
        <div class="pvImageWr">
            <div class="pvBorder"></div>
            <iframe width="250" height="179" src="https://www.youtube.com/embed/iUWtNrfLD10" allowfullscreen></iframe>
        </div>
        <div class="pvImageWr">
            <div class="pvBorder"></div>
            <iframe width="250" height="179" src="https://www.youtube.com/embed/iUWtNrfLD10" allowfullscreen></iframe>
        </div>*@
    </div>
    <a class="redLink" href="@Url.Action("PhotoGalary")">Смотреть еще</a>
</div>
