<div class="myColumn privelegii" style="position: relative">
    <div class="shadow"></div>
    <h2 style="color: white;z-index: 2">КЛУБ <span class="redColor" style="font-family: 'Impact'; font-weight: lighter">KRASNOE </span><span style="color: black; font-family: 'Impact'">&amp; ЧЕРНОЕ</span> это:</h2>
    <div style="z-index: 2"><span> </span><span> </span><span> </span></div>
    <div class="row960w">
        <div class="prevelegiiItem">
            <h3>Общение с интересными<br /> людьми</h3>
            <div class="pImgWrapper grayItem">
                <img alt="" src="/Content/img/prive/общение с интересными людьми.jpg" />
            </div>
            <p style="color: white">
                Клуб позволяет Вам всегда быть
                в окружении людей, с которыми
                Вам приятно общаться и полезно
                сотрудничать.
            </p>
        </div>
        <div class="prevelegiiItem">
            <h3>Отдых на высшем <br/> уровне</h3>
            <div class="pImgWrapper grayItem">
                <img alt="" src="/Content/img/prive/отдых на выысшем уровне.jpg"/>
            </div>
            <p style="color: white">
                Благодаря мероприятиям, которые
                мы проводим, вы сможете по
                настоящему отдохнуть от
                повседневной суеты.
            </p>
        </div>
        <div class="prevelegiiItem">
            <h3>Связи и<br /> контакты</h3>
            <div class="pImgWrapper grayItem">
                <img alt="" src="/Content/img/prive/связи и контакты.jpg" />
            </div>
            <p style="color: white">
                Клуб дает доступ ко множеству
                полезных  контактов и, что важно,
                позволяет резидентам быстро
                "обрасти" нужными связями.
            </p>
        </div>
        <div class="prevelegiiItem">
            <h3>Обмен<br /> опытом</h3>
            <div class="pImgWrapper grayItem">
                <img alt="" src="/Content/img/prive/обмен опытом.jpg" />
            </div>
            <p style="color: white">
                Клуб - это колоссальная
                концентрация опыта, который
                поможет Вам найти новые
                нестандартные решения в любой
                ситуации.
            </p>
        </div>
        <div class="prevelegiiItem">
            <h3>Физическое<br /> развитие</h3>
            <div class="pImgWrapper grayItem">
                <img alt="" src="/Content/img/prive/физическое развтитие.jpg" />
            </div>
            <p style="color: white">
                Мы организуем мероприятия по
                различным видам спорта. Хотите
                быть здоровым и в форме?
                Вступайте в наш клуб!
            </p>
        </div>
        <div class="hidden-sm hidden-xs prevelegiiItem">
            <h3>Личностное<br /> развитие</h3>
            <div class="pImgWrapper grayItem">
                <img alt="" src="/Content/img/prive/личностное развитие.jpg" />
            </div>
            <p style="color: white">
                Мы постоянно проводим программы,
                направленные на личностный рост
                наших резидентов. Мы вдохновляем
                на осознанное саморазвитие,
                на то, чтобы становиться лучше
                и счастливее. 
            </p>
        </div>

    </div>
    <a class="redButton" style="margin-top: 20px; z-index:2" href="@Url.Action("Company")">А также другие привилегии</a>
</div>
