<div class="nearParty" style="background: url('/Content/img/7fon.jpg') repeat top center; position: relative">
    <div class="shadow"></div>
    <h2 style="color: white;z-index: 2">КЛУБ <span class="redColor" style="font-family: 'Impact'">KRASNOE </span><span style="color: black; font-family: 'Impact'">&amp; ЧЕРНОЕ</span> это:</h2>
    <div style="z-index: 2"><span> </span><span> </span><span> </span></div>
    <div class="row960w">
        <div class="prevelegiiItem">
            <h3>Общение с интересными людьми</h3>
            <div class="pImgWrapper">
                <img alt="" src="/Content/img/prive/1.jpg" />
            </div>
            <p style="color: white">
                Клуб позволяет Вам всегда быть
                в окружении людей, с которыми
                Вам приятно общаться и полезно
                сотрудничать.
            </p>
        </div>
        <div class="prevelegiiItem">
            <h3>Общение с интересными людьми</h3>
            <div class="pImgWrapper">
                <img alt="" src="/Content/img/prive/1.jpg" />
            </div>
            <p style="color: white">
                Клуб позволяет Вам всегда быть
                в окружении людей, с которыми
                Вам приятно общаться и полезно
                сотрудничать.
            </p>
        </div>
        <div class="prevelegiiItem">
            <h3>Общение с интересными людьми</h3>
            <div class="pImgWrapper">
                <img alt="" src="/Content/img/prive/1.jpg" />
            </div>
            <p style="color: white">
                Клуб позволяет Вам всегда быть
                в окружении людей, с которыми
                Вам приятно общаться и полезно
                сотрудничать.
            </p>
        </div>
        <div class="prevelegiiItem">
            <h3>Общение с интересными людьми</h3>
            <div class="pImgWrapper">
                <img alt="" src="/Content/img/prive/1.jpg" />
            </div>
            <p style="color: white">
                Клуб позволяет Вам всегда быть
                в окружении людей, с которыми
                Вам приятно общаться и полезно
                сотрудничать.
            </p>
        </div>
        <div class="prevelegiiItem">
            <h3>Общение с интересными людьми</h3>
            <div class="pImgWrapper">
                <img alt="" src="/Content/img/prive/1.jpg" />
            </div>
            <p style="color: white">
                Клуб позволяет Вам всегда быть
                в окружении людей, с которыми
                Вам приятно общаться и полезно
                сотрудничать.
            </p>
        </div>
        <div class="prevelegiiItem">
            <h3>Общение с интересными людьми</h3>
            <div class="pImgWrapper">
                <img alt="" src="/Content/img/prive/1.jpg" />
            </div>
            <p style="color: white">
                Клуб позволяет Вам всегда быть
                в окружении людей, с которыми
                Вам приятно общаться и полезно
                сотрудничать.
            </p>
        </div>

    </div>
    <a class="redButton" style="margin-top: 20px; z-index:2">А также другие привилегии</a>
</div>
