<div style="display: none;" data-bind="visible:register">
    <div class="popUpWrapper">
        <div class="formWrapper">
            <div class="formClose">
                <p data-bind="click:popUp.registerMe">x</p>
            </div>

            @using (Html.BeginForm("Register", "Auth", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="titleBorder">
                    <h2>Оставьте заявку на вступление в сообщество!</h2>
                </div>
                <div class="inputRow">
                    <div class="inpItem">
                        <p>*</p>
                        <input type="text" name="Title" value="" placeholder="Имя, фамилия" />
                    </div>
                    <div class="inpItem">
                        <p>*</p>
                        <input type="tel" name="Phone" value="" placeholder="Телефон" />
                    </div>
                    <div class="inpItem">
                        <p>*</p>
                        <input type="email" name="Email" value="" placeholder="E-mail" />
                    </div>
                </div>
                <div class="inputRow">
                    <div class="inpItem">
                        <p></p>
                        <input type="text" name="City" value="" placeholder="Город" />
                    </div>
                    <div class="inpItem">
                        <p></p>
                        <input type="text" name="Birthday" value="" placeholder="Дата рождения" />
                    </div>
                    <div class="inpItem">
                        <p></p>
                        <input type="text" name="Workplace" value="" placeholder="Место работы, должность" />
                    </div>
                </div>
                <p>
                    Укажите ваши профили в социальных сетях (это дает возможность своевременного оповещения о ближайших <br />мероприятиях клуба, скидки на посещение платных мероприятий и отображение групп на вашей странице)
                </p>
                <div class="socRow">
                    <button type="button">Facebook</button>
                    <button type="button">Вконтакте</button>
                    <button type="button">Instagram</button>
                    <button type="button">Одноклассники</button>
                </div>
                <div class="buttonBorder" style="bottom: -7%">
                    <button type="submit" class="redButton" href="#">Стать членом клуба</button>
                </div>
            }
        </div>
        <p style="color: white">* Поля, отмеченные звездочкой "*" - обязательны к заполнению</p>
        <p style="color: white">** Ваши данные ни при каких условиях не будут переданы третьим лицам</p>
    </div>
</div>
