<div class="sDescrBlock">
    <div class="shadow"></div>
    <div class="sDescrWrapper">
        <p>
            КЛУБ <span class="redColor">KRASNOE </span><span style="color: black">&amp; ЧЕРНОЕ</span> - сообщество
            интересных людей-единомышленников, ориентированных на развитие себя, бизнеса и общества.
        </p>
        <p>
            Зачем Клуб нужен Вам? Это эффективное развитие вас и вашего дела в кругу достойных людей.
        </p>
        <p>
            Клуб Красное и Черное - это деловые коммуникации, активный отдых и приятное вермяпровождение. Вступив в клуб Вы
            найдете лояльных клиентов и новых бизнес-партнеров. Мы проводим не только крупнейшие конференции, бизнес-завтраки,
            круглые столы, но и собираем своих членов для участия в различных играх, соревнованиях и путешествиях,
            объединяя деловое и неформальное общение.
        </p>
    </div>
</div>
