<div style="display: none;" data-bind="visible:thankYou">
    <div class="popUpWrapper">
        <div class="formWrapper flexRow">
            <div class="formClose">
                <p data-bind="click:popUp.thanks">x</p>
            </div>
            <div class="socLogin flexCol" style="border: solid 2px red">
                <div class="formTitle">
                    <h2>
                        Спасибо за заявку!
                    </h2>
                </div>
                <h2 data-bind="text:thankYouMessage">Мы выслали приглашение на вашу электронную почту!</h2>
            </div>
        </div>
    </div>
</div>


