

<div class="topSlider">
    <div class="redBlockArea" style="position: absolute; right: 0; top: 0; bottom: 0">
        <img class="hidden-sm hidden-xs" id="redBlock" alt="" src="/Content/img/redZone.png" style="position: absolute; right: 0; top: 0; bottom: 0" />
        <img class="visible-sm visible-xs" alt="" src="/Content/img/redZoneMob.png" style="position: absolute; right: 0; top: 0; bottom: 0"/>
        <div class="slideTitle" id="slide1">
            <p class="fstCld">БИЗНЕС</p>
            <p>ВСТРЕЧИ</p>
        </div>
        <div class="slideTitle" id="slide2"> 
            <p class="fstCld">развлекательные</p>
            <p>мероприятия</p>
        </div>
        <div class="slideTitle" id="slide3"> 
            <p class="fstCld">игровые</p>
            <p>мероприятия</p>
        </div>
        <div class="slideTitle" id="slide4"> 
            <p class="fstCld">спортивные</p>
            <p>мероприятия</p>
        </div>
        <div class="slideTitle" id="slide5"> 
            <p class="fstCld">активный</p>
            <p>отдых</p>
        </div>
        <div class="slideTitle" id="slide6"> 
            <p class="fstCld">развитие</p>
            <p>навыков</p>
        </div>
    </div>

    <div class="dotsLayer" id="topDot">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>



    <div id="topSlider">
        <div class="slItem" style="background: url('/Content/img/topSlider/1.jpg') no-repeat top center"></div>
        <div class="slItem" style="background: url('/Content/img/topSlider/2.jpg') no-repeat top center"></div>
        <div class="slItem" style="background: url('/Content/img/topSlider/3.jpg') no-repeat top center"></div>
        <div class="slItem" style="background: url('/Content/img/topSlider/4.jpg') no-repeat top center"></div>
        <div class="slItem" style="background: url('/Content/img/topSlider/5.jpg') no-repeat top center"></div>
        <div class="slItem" style="background: url('/Content/img/topSlider/6.jpg') no-repeat top center"></div>
        @*<div class="slItem">
            <img alt="" src="/Content/img/topSlider/1.jpg"/>
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/2.jpg"/>
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/3.jpg"/>
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/4.jpg"/>
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/5.jpg"/>
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/6.jpg"/>
        </div>*@
    </div>
</div>
