

<div class="topSlider">
    <div class="redBlockArea" style="position: absolute; right: 0; top: 0; bottom: 0">
        <img class="hidden-sm hidden-xs" id="redBlock" alt="" src="/Content/img/redZone.png" style="position: absolute; right: 0; top: 0; bottom: 0" />
        <img class="visible-sm visible-xs" alt="" src="/Content/img/topSlider/redMob.png" style="position: absolute; right: 0; top: 0; bottom: 0"/>
        <div class="slideTitle" id="slide1">
            <p class="fstCld">БИЗНЕС</p>
            <p>ВСТРЕЧИ</p>
        </div>
        <div class="slideTitle" id="slide2"> 
            <p class="fstCld">развлекательные</p>
            <p>мероприятия</p>
        </div>
        <div class="slideTitle" id="slide3"> 
            <p class="fstCld">игровые</p>
            <p>мероприятия</p>
        </div>
        <div class="slideTitle" id="slide4"> 
            <p class="fstCld">спортивные</p>
            <p>мероприятия</p>
        </div>
        <div class="slideTitle" id="slide5"> 
            <p class="fstCld">активный</p>
            <p>отдых</p>
        </div>
        <div class="slideTitle" id="slide6"> 
            <p class="fstCld">развитие</p>
            <p>навыков</p>
        </div>
    </div>

    <div class="dotsLayer" id="topDot">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div id="topSlider">
        <a href="/" class="slItem" style="background: url('/Content/img/topSlider/бизнес встречи.JPG') no-repeat top center"></a>
        <a href="/" class="slItem" style="background: url('/Content/img/topSlider/44441920.jpg') no-repeat top center"></a>
        <a href="/meropriatiya/igrovie" class="slItem" style="background: url('/Content/img/topSlider/игровые1.jpg') no-repeat top center"></a>
        <a href="/" class="slItem" style="background: url('/Content/img/topSlider/3333333.jpg') no-repeat top center"></a>
        <a href="/" class="slItem" style="background: url('/Content/img/topSlider/5.jpg') no-repeat top center"></a>
        <a href="/" class="slItem" style="background: url('/Content/img/topSlider/развитие навыков.jpg') no-repeat top center"></a>
    </div>
</div>
