
<div class="topSlider">
    <img alt="" src="/Content/img/redZone.png" style="position: absolute; right: 0; top: 0; bottom: 0"/>
    <div class="dotsLayer" style="display: block !important">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div id="topSlider">
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/1.jpg" />
            <h2>бизнесс встречи</h2>
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/2.jpg" />
            <h2>развлекательные мероприятия</h2>
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/3.jpg" />
            <h2>игровые мероприятия</h2>
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/4.jpg" />
            <h2>спортивные мероприятия</h2>
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/5.jpg" />
            <h2>активный отдых</h2>
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/6.jpg" />
            <h2>развитие навыков</h2>
        </div>
    </div>
</div>
