
<div class="topSlider">
    <img alt="" src="/Content/img/redZone.png" style="position: absolute; right: 0; top: 0; bottom: 0"/>
    <div class="dotsLayer" id="topDot">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div id="topSlider">
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/1.jpg" />
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/2.jpg" />
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/3.jpg" />
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/4.jpg" />
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/5.jpg" />
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/6.jpg" />
        </div>
    </div>
</div>
