
<div class="topSlider">
    <img alt="" src="/Content/img/redZone.png" style="position: absolute; right: 0; top: 0; bottom: 0"/>
    <div class="dotsLayer" id="topDot">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <h2 class="slideTitle " id="slide1">БИЗНЕС ВСТРЕЧИ 1</h2>
    <h2 class="slideTitle" id="slide2">БИЗНЕС ВСТРЕЧИ 2</h2>
    <h2 class="slideTitle" id="slide3">БИЗНЕС ВСТРЕЧИ 3</h2>
    <h2 class="slideTitle" id="slide4">БИЗНЕС ВСТРЕЧИ 4</h2>
    <h2 class="slideTitle" id="slide5">БИЗНЕС ВСТРЕЧИ 5</h2>
    <h2 class="slideTitle" id="slide6">БИЗНЕС ВСТРЕЧИ 6</h2>

    <div id="topSlider">
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/1.jpg" />
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/2.jpg" />
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/3.jpg" />
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/4.jpg" />
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/5.jpg" />
        </div>
        <div class="slItem">
            <img alt="" src="/Content/img/topSlider/6.jpg" />
        </div>
    </div>
</div>
