<body style="width: 960px;border: solid 2px red;font-family:'Arial'; padding:20px;">
    <div class="header">
        <h1 style="margin: 5px 0; text-align:center;">Вы подали заявку на вступление в сообщество</h1>
        <h2 style="text-align:center; margin:10px 0"><span style="color:red; font-weight:bold;font-family:'Impact';">KRASNOE </span><span style="color:black; font-weight:bold;font-family:'Impact';">& ЧЕРНОЕ</span></h2>
    </div>
    <div>
        <p>Для завершения регистрации Вам нужно перейти по ссылке ниже и активировать Ваш личный кабинет</p>
        <p>Для входа используйте следующие данные:</p>
        <h3>ЛОГИН: <strong>{0}</strong></h3>
        <h3>ВРЕМЕННЫЙ ПАРОЛЬ: <strong>{1}</strong></h3>

        <p>Ссылка для перехода:</p>
        {2}
    </div>
    <div>
    </div>
</body>
