<body style="width: 100%; max-width: 960px; border: solid 2px red;font-family:'Arial'; padding:20px;">
    <div class="header">
        <h1 style="margin: 5px 0; text-align:center;">Восстановление пароля.</h1>
        <h2 style="text-align:center; margin:10px 0"><span style="color:red; font-weight:bold;font-family:'Impact';">KRASNOE </span><span style="color:black; font-weight:bold;font-family:'Impact';">& ЧЕРНОЕ</span></h2>
    </div>
    <div>
        <p>Вы или кто-то еще подал заявку на восстановление пароля и указал этот e-mail адрес.</p>
        <p>Если это были не вы, то просто проигнорируйте это письмо.</p>

        <p>Восстановить пароль:<strong>{0}</strong> </p>

    </div>
    <div>
    </div>
</body>
