@{
    Layout = "~/Views/Shared/_MainRnB.cshtml";
}

<div class="columnBlock">
    <h2>Спасибо.</h2>
    <h3>Ваша заявка принята.</h3>
    <p>Мы отправили на ваш адрес электронной почты сообщение в вашими учетными данными и ссылкой на подтверждение вашего e-mail адреса.</p>
    <p>Для завершения процедуры регистрации, пожалуйста проверьте почту.</p>

</div>

