<!DOCTYPE html>
<html>
<head>
	<title>Билет</title>
	<meta charset="utf-8" />
</head>
<body style="max-width: 960px; width: 100%; border: solid 3px red; font-family: 'Arial'; padding: 10px;">
	<h1 style="text-align: center; margin:10px 0; font-size:16pt; letter-spacing: 1px;">Организатор: "<span style="font-family: 'Impact'; color: red; font-weight: normal">KRASNOE</span><span style="font-family:'Impact'; font-weight: normal">&ЧЕРНОЕ</span>" redblackclub.ru</h1>
<div>
    <div style="display: inline-block; text-align: center">
        <h2 style="display: block">10</h2>
        <p style="display: block; border-bottom: dotted 1px black">октября, 2016</p>
        <h2>20:00</h2>
    </div>
    <div style="border: solid 1px black; display: inline-block; min-width: 200px;">
        {}
    </div>
</div>
</body>
</html>
