body {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial"
}
a,h1,h2,h3,h4,h5,h6 {
    color: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.validation-summary-errors {
    color: red;
    padding: 10px;
}
.inputRow {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 0;
}
.inputBloc {
    flex: 0 0 30%;
    display: flex;
    flex-flow: column;
}
input[type=number] {
    max-width: 70px;
}
input {
    margin: 10px 0;
    align-self: center;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px gray;
    font-size: 12pt;
    padding: 5px;
    max-width: 300px;
    width: 100%;
}
textarea {
    margin: 5px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.redBtn, .greenBtn {
    font-size: 12pt; 
}
.redBtn {
    border: solid 1px;
    padding: 5px 5px;
    background-color: red;
    color: white;
    font-family: "Arial";
}
.greenBtn {
    background-color: green;
    border: solid 1px;
    padding: 5px 5px;
    color: white; 
}
.columnCenter {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.rowFlex {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.addPatyFormItem {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    max-width: 400px;
    width: 100%;
    border: solid 1px green;
    padding: 20px;
}
header {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    background-color: red;
}
.headTop {
    flex: 0 0 auto;
    width: 250px;
}
.bodyContent {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row nowrap;
}
.mainContent {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.bodyTop {
    flex: 1 0 auto;
    background-color: lightgreen;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.leftMenu {
    display: flex;
    flex-flow: column;
    background: linear-gradient(-67deg, #8b8bff, #75cf75, #dfff0b, #ffc2d9);
}
.leftMenu a {
    margin: 20px;
    border: solid 3px white;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: "Arial";
    font-weight: bolder;
    background-color: whitesmoke
}
table {
    border: solid 1px darkgray;
    margin: 5px;
}
table thead {
    background-color: gray;
    color: white;
}
.selectedRowRoot {
    background-color: lightskyblue;
}
.selectedRowSub {
    background-color: lightgreen;
}
td,th {
    padding: 5px 10px;
}
button i {
    margin: 0 5px;
}

/*Paty*/
#patySection {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    width: 100%;
}
.column {
    flex: 1 0 45%;
    display: flex;
    flex-flow: column;
    border: solid 1px;
    padding: 5px;
}
.columnHead {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: gray;
    color: white;
}
.controlsBlock {
    flex: 0 0 auto;
    height: 50px;
    background-color: coral;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.formPopUp {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.formWrapper {
    flex: 0 0 auto;
    background-color: white;
    padding: 20px;
    position: relative;
}
.closeButton {
    position: absolute;
    top: -30px;
    right: -35px;
}
form {
    border: solid 2px red;
    position: relative;
    padding: 10px;
    display: flex;
    flex-flow: column;
    margin: 20px;
    max-width: 880px;
    width: 100%;
}
.formPaty {
    display: block;
    width: 100%;
}
.formPaty img {
    align-self: center;
}
.photoPlaceholder {
    border: solid 1px gray;
    width: 292px;
    height: 258px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-family: "Arial";
}
.photoPlaceholder h3 {
    text-transform: uppercase;
    margin: 10px 0;
}
.photoPlaceholder p {
    margin: 10px 20px;
    text-align: center;
}
.displayRow {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start
}
.fleft {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
}
.fright {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
}
.fright>input {
    margin: 10px 10px 5px 10px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px gray;
    padding: 5px;
    width: 300px;
}

.fright>textarea {
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px gray;
    padding: 5px;
    margin: 5px 10px 10px;
}

.fright>button {
        flex: 0 0 auto;
    align-self: flex-end;
    border: none;
    background: lightgreen;
    padding: 10px;
    font-weight: bolder
}
li>label {
    padding: 10px 20px;
    display: block;
    cursor: pointer;
}
label>input[type=file] {
    display: none;
}
/*Paty form END*/

/*Image galary*/
.albomIndex {
    flex: 1 0 auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.alboms {
    display: flex;
    flex-flow: row wrap;

}
.albomItem, .videoItem {
    margin: 10px;
    text-align: center;
    border: solid 2px transparent;
    display: block;
    max-width: 210px; 
}
.albomItem:hover {
    border: solid 2px gray;
}
.albomAvatar {
    max-width: 210px;
    overflow: hidden;
}
.albomAvatar img {
    width: 100%;
}
.formAlbom {
    flex: 0 0 auto;
    width: 400px;
}
.formAlbom>form {
    justify-content: flex-start;
    align-items: flex-start;
}
.formAlbom>form>input[type=text] {
    margin: 10px 0;
    align-self: center;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px gray;
    font-size: 12pt;
    padding: 5px;
    width: 300px;
}

.formAlbom>form>textarea {
    margin: 10px 0;
    align-self: center;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px gray;
    font-size: 12pt;
    padding: 5px;
    width: 300px;
}

.albomDetails {
    display: block;
    width: 100%;
}
.addPhotoForm {
    display: block;
}
.addPhotoForm>form {
    display: block;
    margin: 0;
    padding: 0;

}
.addRegionForm {
    display: block;
}
.addRegionForm>form {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 310px;
}
.addRegionForm>form>input {
    align-self: flex-start;
}
.addRegionForm>form>textarea {
    align-self: flex-start;
}
.addRegionForm>form>p {
    margin: 0;
    padding: 0;
}
.albomDescr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
}
.offTitle {
    background-color: rgb(255, 93, 93);
    padding: 10px;
    display: block;
    text-decoration: none;
    font-family: "Arial";
    font-weight: bold;
    color: whitesmoke;
}
.onTitle {
    background-color: rgb(35, 140, 74);
    padding: 10px;
    display: block;
    text-decoration: none;
    font-family: "Arial";
    font-weight: bold;
    color: whitesmoke;
}
/*Image galary END*/

/*PAty Admin*/
.aboutPaty {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
}
.catImageWrapper {
    margin: 10px; 
}
.categorysTable td, .categorysTable th {
    height: 25px; 
    font-size: 10pt;  
}
/*Paty End*/
/*File Uploads*/
.uploadForm form {
    flex: 0 0 auto;
    width: 350px;
    border: none;
}
.bar {
    width: 600px;
    padding: 5px 10px;
}
progress {
    width: 100%;
}

#status ul {
    margin: 10px;
}
#status ul li {
    margin: 3px 0;
}
/*File Uploads End*/