body {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    margin: 0;
    padding: 0;
}
a,h1,h2,h3,h4,h5,h6 {
    color: inherit;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header {
    flex: 0 0 auto;
    background-color: darkgray;
    width: 250px;
    display: flex;
    flex-flow: column;
}
.headTop {
    flex: 0 0 auto;
    height: 50px;
    background-color: lightpink;
}
.bodyContent {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
}
.bodyTop {
    flex: 0 0 auto;
    height: 50px;
    background-color: lightgreen;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
table {
    border: solid 1px darkgray;
    margin: 5px;
}
table thead {
    background-color: gray;
    color: white;
}
td,th {
    padding: 5px 10px;
}
button i {
    margin: 0 5px;
}

/*Paty*/
#patySection {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
}
.column {
    flex: 1 0 45%;
    display: flex;
    flex-flow: column;
    border: solid 1px;
    padding: 5px;
}
.columnHead {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: gray;
    color: white;
}
.controlsBlock {
    flex: 0 0 auto;
    height: 50px;
    background-color: coral;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.PatyCategorys {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
}
/*
.photoPlaceholder {
    border: solid 1px gray;
    width: 292px;
    height: 258px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-family: "Arial";
}
.photoPlaceholder h3 {
    text-transform: uppercase;
    margin: 10px 0;
}
.photoPlaceholder p {
    margin: 10px 20px;
    text-align: center;
}
.newRootForm {
    flex: 0 0 auto;
    max-width: 500px;
    align-self: center;
    width: 100%;
}
.newRootForm>input {
    margin: 10px 10px 5px 10px;
    border-radius: 5px;
    border: solid 1px gray;
    padding: 5px;
}
.newRootForm>textarea {
    border-radius: 5px;
    border: solid 1px gray;
    padding: 5px;
    margin: 5px 10px 10px;    
}
.newRootForm>.imgWrapper {
    flex: 0 0 auto;
    align-self: center;
}
.newRootForm>ul {
    flex: 0 0 auto;
    align-self: center;
}
.newRootForm>ul>li {
    border: solid 1px black;
    margin: 5px
}
li>label {
    padding: 10px 20px;
    display: block;
    cursor: pointer;
}
label>input[type=file] {
    display: none;
}
.newRootForm>button {
    flex: 0 0 auto;
    align-self: flex-end;
    border: none;
    background: lightgreen;
    padding: 10px;
    font-weight: bolder;
}
.displayRow {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row;
}
.fleft {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
}
.fright {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
}
.fright input {
    margin: 10px 10px 5px 10px;
    border-radius: 5px;
    border: solid 1px gray;
    padding: 5px;
}
.fright textarea {
    border-radius: 5px;
    border: solid 1px gray;
    padding: 5px;
    margin: 5px 10px 10px;    
}
.fright>button {
        flex: 0 0 auto;
    align-self: flex-end;
    border: none;
    background: lightgreen;
    padding: 10px;
    font-weight: bolder
}
/*Paty End*/

.formPopUp {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.formWrapper {
    flex: 0 0 auto;
    background-color: white;
    padding: 20px;
    position: relative;
}
.closeButton {
    position: absolute;
    top: -30px;
    right: -35px;
}
form {
    border: solid 2px red;
    position: relative;
    padding: 10px;
    display: flex;
    flex-flow: column;
}
.photoPlaceholder {
    border: solid 1px gray;
    width: 292px;
    height: 258px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-family: "Arial";
}
.photoPlaceholder h3 {
    text-transform: uppercase;
    margin: 10px 0;
}
.photoPlaceholder p {
    margin: 10px 20px;
    text-align: center;
}
.displayRow {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start
}
.fleft {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
}
.fright {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
}
.fright input {
    margin: 10px 10px 5px 10px;
    border-radius: 5px;
    border: solid 1px gray;
    padding: 5px;
    width: 300px;
}
.fright textarea {
    border-radius: 5px;
    border: solid 1px gray;
    padding: 5px;
    margin: 5px 10px 10px;    
}
.fright>button {
        flex: 0 0 auto;
    align-self: flex-end;
    border: none;
    background: lightgreen;
    padding: 10px;
    font-weight: bolder
}
li>label {
    padding: 10px 20px;
    display: block;
    cursor: pointer;
}
label>input[type=file] {
    display: none;
}
/*Paty form END*/