body {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
}
header {
    flex: 0 0 auto;
    background-color: darkgray;
    width: 250px;
    display: flex;
    flex-flow: column;
}
.headTop {
    flex: 0 0 auto;
    height: 50px;
    background-color: lightpink;
}
.bodyContent {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
}
.bodyTop {
    flex: 0 0 auto;
    height: 50px;
    background-color: lightgreen;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
table {
    border: solid 1px darkgray;
    margin: 5px;
}
table thead {
    background-color: gray;
    color: white;
}
td,th {
    padding: 5px 10px;
}