@font-face {
    font-family: "Impact";
    src: url("/Content/fonts/IMPACT.TTF") format("truetype");
}

@font-face {
    font-family: "rBold";
    src: url("/Content/fonts/RobotoCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "rNormal";
    src: url("/Content/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "rLight";
    src: url("/Content/fonts/RobotoCondensed-Light.ttf") format("truetype");
}

.validation-summary-errors {
    color: red;
}
.input-validation-error {
    border-color: red !important;
    
}
.redColor {
    color: #fe0000;
}

.grayColor {
    color: #484848;
}

.redBack {
    background-color: #fe0000;
}

p, ul, h2, h3, h4, h5 {
    margin: 0;
    font-family: "rNormal";
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flexRow {
    display: flex;
    flex-flow: row;

}

.flexCol {
    display: flex;
    flex-flow: column;
}

.ds > span {
    width: 100px;
    border-bottom: solid 2px red;
    margin: 5px 0;
    padding: 0 30px;
}

    .ds > span:first-child, .ds > span:last-child {
        border-bottom: solid 1px #c7c7c7;
        padding: 0 43px;
    }

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fefefe;
}

.column970 {
    max-width: 970px;
    width: 100%;
    display: flex;
    flex-flow: column;
}
/*TopMenu*/
nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    background-color: whitesmoke;
    border-top: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
    justify-content: center;
    position: relative;
    z-index: 5;
}

.topMenuWrapper {
    max-width: 970px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.topMenu {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    max-width: 424px;
    position: relative;
}

.menuList > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    font-size: 15pt;
    text-transform: uppercase;
    width: 100%;
}

    .menuList > ul > li {
        flex: 1 0 auto;
    }

        .menuList > ul > li > a {
            border-bottom: solid 3px transparent;
            line-height: 40px;
        }

            .menuList > ul > li > a:hover {
                border-bottom: solid 3px red;
            }

        .menuList > ul > li:hover .SubPaty {
            display: block;
        }

.middleLogoTopMenu {
    flex: 0 0 auto;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

    .middleLogoTopMenu > a {
        z-index: 2;
        display: block;
        height: 48px;
    }

    .middleLogoTopMenu img {
        width: 100%;
        top: -30px;
        width: 122px;
        position: relative;
    }

@media only screen and (max-device-width: 720px) {
    .middleLogoTopMenu img {
        width: 70px;
        top: -20%;
        left: -25px;
        position: absolute;
        z-index: 3;
    }
}

.leftMenu {
    text-align: left;
}

.rightMenu {
    text-align: right;
}

    #topMenu {
        position: absolute;
        top: 7px;
        right: 10px;
        border: solid 1px gray;
        border-radius: 3px;
        height: 36px;
        width: 36px;
    }
    #topMenu p {
        font-size: 7pt;
        display: block;
        padding: 0;
        margin: 0;
        position: absolute;
        top: -13px;
        left: 6px;
    }
    #topMenu i {
        position: absolute;
        bottom: 2px;
        left: 9px;
    }

.SubPaty {
    position: absolute;
    display: none;
    flex-flow: column;
    z-index: 3;
    width: 300px;
    background-color: rgb(244, 244, 244);
    top: 43px;
}

    .SubPaty > li {
        color: #898989;
        position: relative;
    }

        .SubPaty > li > a {
            margin: 0;
            padding: 10px;
        }

            .SubPaty > li > a:hover {
                color: black;
            }

        .SubPaty > li:hover .subLevel2 {
            display: block;
        }

.subLevel2 {
    position: absolute;
    width: 300px;
    right: -300px;
    top: 0;
    display: none;
    background-color: rgb(244, 244, 244);
}

    .subLevel2 > li > a {
        padding: 10px;
    }

        .subLevel2 > li > a:hover {
            color: red;
        }

.ddMenu {
    display: none;
    background-color: whitesmoke;
    position: absolute;
    right: 0;
    z-index: 5;
    width: 250px;
    text-align: left;
}

    .ddMenu > li {
        margin: 5px 15px;
    }
/*TopMenu END*/
header, nav, footer {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

header, footer {
    justify-content: flex-start;
}

.columnBlock {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    padding-top: 50px;
}

.row960 {
    flex: 1 0 auto;
    max-width: 970px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.row960w {
    flex: 1 0 auto;
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
/*header*/

.headerRow {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.hBlock {
    padding: 10px 0;
}

.hMidle {
    flex: 1 0 auto;
    align-self: flex-start;
}

    .hMidle h1 {
        font-family: "rBold";
        text-align: center;
        margin: 0;
        font-size: 18pt;
        display: block;
        padding: 0 10px;
    }

        .hMidle h1 span {
            font-family: "Impact";
            font-size: 20pt;
            font-weight: normal;
        }

.hLeft {
    flex: 0 0 auto;
}

.hLeftWrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.redButton {
    display: inline-block;
    margin: 0;
    padding: 5px 30px 7px;
    font-family: "rLight";
    color: #fff;
    font-size: 15pt;
    font-weight: 100;
    text-align: center;
    /* ReSharper disable once UnknownCssVendorExtension */
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: none;
    border-bottom: solid 3px #cc0b00;
    background-color: red;
}

.redLink {
    font-family: "rNormal";
    text-decoration: none;
    color: #fe0000;
    font-size: 14pt;
    letter-spacing: -1px;
    border-bottom: dotted 2px red;
}

.grayButton {
    display: block;
    margin: 0;
    padding: 5px 30px 7px;
    font-family: "rLight";
    color: #666666;
    font-size: 15pt;
    font-weight: 100;
    text-align: center;
    /* ReSharper disable once UnknownCssVendorExtension */
    -ms-border-radius: 5px;
    border-radius: 5px;
    border-bottom: solid 3px #b5b5b5;
    background-color: #dfdfdf;
}

.socLinksBlock {
    flex: 1 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
}

    .socLinksBlock a {
        margin: 3px 5px;
        display: block;
        width: 50px;
        height: 50px;
    }

    .socLinksBlock a img {
        width: 100%;
    }
.hLeft p {
    flex: 1 0 auto;
    font-family: "rNormal";
    margin: 7px;
}

.hRight {
    flex: 0 0 auto;
}

.hRightWrapper {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.hRight p img {
    margin: 0 7px 0 0;
}

.hRight a img {
    margin: 0 15px 0 0;
}

.hRight p {
    margin: 0;
    font-family: "rNormal";
    font-size: 17pt;
    color: #484848;
}

.hRightWrapper > a {
    font-family: "rNormal";
    display: block;
    font-size: 15pt;
    text-decoration: none;
    color: #484848;
    letter-spacing: -1px;
}

.regBlock {
    padding: 3px 0;
}

    .regBlock span {
        font-family: "rNormal";
        color: #484848;
        padding: 0 5px;
        font-size: 14pt;
    }
    .socLinksHead {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .socLinksHead>a {
        height: 25px;
        width: 25px;
        -ms-background-size: 100%;
        background-size: 100%;
    }

@media only screen and (max-device-width: 720px) {
    .hMidle {
        order: 1;
        margin: 0 0 15px 0;
        flex: 1 0 100%;
    }

        .hMidle h1 {
            font-size: 10pt !important;
        }

            .hMidle h1 span {
                font-size: 10pt;
            }

    .hLeft {
        order: 2;
        max-width: 45%;
    }
    .hLeftWrapper p {
        font-size: 8pt;
    }

    .socLinksHead a {
        width: 18px;
        height: 18px;
        display: block;
        background-size: 100%;
    }
    
    .socLinksBlock {
        justify-content: center;
    }
    .socLinksBlock a {
        width: 50px;
        margin: 5px 10px;
    }
    .socLinksBlock a img {
        width: 100%;

    }
    .hRight {
        order: 3;
        max-width: 45%;
    }
    .redButton {
        padding: 5px 20px 7px;
        font-size: 12pt;
    }

    .redLink {
        font-size: 12pt;
    }

    .hRight p {
        font-size: 12pt;
    }

    .hRightWrapper > a {
        font-size: 11pt;
    }
    .offerBlock > .formWrapper > form > .titleBorder {
        top: -40px;
    }
    .offerBlock>.formWrapper>form>.buttonBorder {
        bottom: -40px;
    }
}
/****************************************************/
footer {
    flex: 0 0 auto;
    width: 100%;
    background-color: #e8e8e8;
}

.fBlock {
    flex: 1 0 auto;
    max-width: 20%;
    margin: 30px 0;
    color: #585858;
    font-size: 11pt;
    padding: 0 10px;
    align-self: flex-start;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
}

.fWe {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

    .fWe p {
        margin: 0 10px 20px 0;
    }
    .socLinks {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .socLinks a {
        margin: 0 10px;
    }
    .fWe>.socLinks>a {
        display: block;
        width: 30px;
        height: 30px;
        margin: 5px;
        background-size: 100%;
    }
    .facebook {
        background: url("/Content/img/soc/2-1.jpg") no-repeat center center;
    }
    .facebook:hover {
        background: url("/Content/img/soc/2-2.jpg") no-repeat center center;
        background-size: 100%;
    }
    .vk {
        background: url("/Content/img/soc/3-1.jpg") no-repeat center center;
    }
    .vk:hover {
        background: url("/Content/img/soc/3-2.jpg") no-repeat center center;
        background-size: 100%;
    }
    .od {
        background: url("/Content/img/soc/4-1.jpg") no-repeat center center;
    }
    .od:hover {
        background: url("/Content/img/soc/4-2.jpg") no-repeat center center;
        background-size: 100%;
    }
    .inst {
        background: url("/Content/img/soc/6-1.jpg") no-repeat center center;
    }
    .inst:hover {
        background: url("/Content/img/soc/6-2.jpg") no-repeat center center;
        background-size: 100%;
    }
    .you {
        background: url("/Content/img/soc/5-1.jpg") no-repeat center center;
    }
    .you:hover {
        background: url("/Content/img/soc/5-2.jpg") no-repeat center center;
        background-size: 100%;
    }
    .tw {
        background: url("/Content/img/soc/1-1.jpg") no-repeat center center;
    }
    .tw:hover {
        background: url("/Content/img/soc/1-2.jpg") no-repeat center center;
        background-size: 100%;
    }
.lList ul {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

    .lList ul li {
        flex: 1 0 auto;
        margin: 2px 0;
    }

        .lList ul li a {
            line-height: 22px;
            text-decoration: underline;
        }

.fContact {
    flex: 1 0 auto;
    align-items: flex-start;
}

    .fContact h2 {
        text-transform: uppercase;
        color: red;
        margin: 0;
        font-size: 14pt;
        font-weight: 100;
    }

    .fContact h3 {
        font-weight: 100;
        font-size: 15pt;
    }

.fLogo p {
    margin: 5px 0 0px;
    text-align: left;
}

.fLogo a {
    font-size: 12pt;
}

@media only screen and (max-device-width: 720px) {
    .fBlock {
        margin: 10px 0;
        max-width: 100%;
        flex: 0 0 50%;
    }

    .lList {
        order: 0;
    }

    .fContact {
        order: 1;
    }

    .fContact h3 {
        font-size: 12pt;
    }
        .fContact h3 a {
            font-size: 12pt;
        }

    .fLogo {
        order: 2;
    }

    .fWe {
        flex: 0 0 100%;
        order: 3;
    }
    .fWe>.socLinks>a>img {
        width: 30px;
    }
    .fLogo p {
        font-size: 10pt;
    }
    .fLogo p:last-child {
        display: block;
        text-align: center;
    }
    .fLogo > a {
        font-size: 12pt;
    }

    .fLogo img {
        width: 90%;
    }
}

.mainContent {
    flex: 1 0 auto;
    width: 100%;
}

/*Top slider*/
.topSlider {
    flex: 0 0 auto;
    position: relative;
}
.slideTitle {
    position: absolute;
    color: white;
    z-index: 2;
    left: 0;
    top: 40px;
    font-size: 30pt;
    font-weight: bold;
    display: none;
    text-transform: uppercase;
}
.slideTitle p {
    display: inline;
    position: absolute;
}
.slideTitle p:first-child {
    left: -150px;
}
.slideTitle p:last-child {
    left: 10px;
}
.slideTitle.active {
    display: block;
}
.dotsLayer {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 45%;
}

    .dotsLayer > div {
        width: 14px;
        height: 15px;
        -ms-border-radius: 50%;
        border-radius: 50%;
        border: solid 2px white;
        background-color: white;
        margin: 0 5px;
        display: inline-block;
    }

        .dotsLayer > div.active {
            background-color: red;
        }
.redBlockArea {
    width: 38%;
    z-index: 2
}
.redBlockArea > img {
    z-index: 2;
    height: 100%;
    width: 110%
}

.slItem {
    display: block;
    width: 100%;
    height: 560px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
}
.slItem:hover {
    filter: none;
    transition: 1s;
}
@media only screen and (max-device-width: 720px) {
    .dotsLayer {
        left: 20%;
    }
    .dotsLayer>div {
        width: 10px;
        height: 10px;
        margin: 0 2px;
    }
    .redBlockArea {
        width: 40%;
    }
    .redBlockArea > img {
    z-index: 1;
    height: 100%;
    width: 130%
}
    .slideTitle {
        font-size: 10pt;
    }
    .slItem {
        height: 305px;
        -ms-background-size: auto 100% !important;
        background-size: auto 100% !important;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}
/*Top Slider End*/
/*Paty*/
.nearParty {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 40px 0;
}

    .nearParty h2 {
        display: block;
        text-transform: uppercase;
        text-align: center;
        margin: 30px 0 0 0;
        font-size: 24pt;
    }

    .nearParty > div > span {
        width: 100px;
        border-bottom: solid 2px red;
        margin: 5px 0;
        padding: 0 30px;
    }

        .nearParty > div > span:first-child, .nearParty > div > span:last-child {
            border-bottom: solid 1px #c7c7c7;
            padding: 0 43px;
        }

.patyCarousel {
    flex: 1 0 auto;
    margin: 40px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.carItem {
    position: relative;
}

.topString {
    height: 40px;
    position: absolute;
    top: 0;
    background-color: #e8e8e8;
    width: 100%;
}

.whiteBg {
    background-color: white;
    height: 100%;
    padding: 0 30px;
}

    .whiteBg .redline {
        background-color: red;
        height: 3px;
        width: 100px;
    }

    .whiteBg .pD {
        height: 100px;
        overflow: hidden;
    }

    .whiteBg > a {
        text-align: right;
        margin-bottom: 5px;
        display: block;
    }

.prevItem, .nextItem {
    flex: 0 0 auto;
    padding: 0 10px;
    cursor: pointer;
}

.patyBlock {
    flex: 0 0 auto;
    position: relative;
    width: 100%;
    padding: 40px 15px 0px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

    .patyBlock a {
        display: block;
        margin: 0 0 50px 0;
    }

.patyWrapper {
    width: 100%;
    position: relative;
    max-width: 300px;
}

.topStripe {
    background-color: #000000;
    background-color: rgba(0,0,0,0.7);
    position: relative;
    top: 50px;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 4;
}

.patyData {
    width: 100%;
    background-color: white;
    position: relative;
    padding: 20px;
    height: 350px;
    margin: 40px 0 0 0;
}

.patyDataImageWraper {
    width: 100%;
    height: 140px;
    padding: 0 20px;
}

    .patyDataImageWraper img {
        width: 100%;
        top: -50px;
        position: relative;
    }

@media only screen and (max-device-width: 720px) {
    .nearParty h2 {
        font-size: 15pt;
    }

    .redline {
        width: 100px;
        background-color: red;
        height: 3px;
        position: relative;
        top: -10px;
        left: 20px;
    }
}
/*Paty End*/
/*Offer*/
.offerBlock {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
}

    .offerBlock > p {
        color: gray;
    }

.offerWrapper {
    flex: 0 0 auto;
    max-width: 970px;
    width: 100%;
    border: solid 2px red;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 40px 0 20px 0;
    margin-bottom: 30px;
}

.buttonBorder {
    position: relative;
    bottom: -24px;
    padding: 0 20px;
    background-color: white;
}
.buttonBorder.absolute {
    position: absolute;
    bottom: -30px;
}
.absolute button {
    font-size: 14pt;
    font-weight: bold;
}
form > p {
    text-align: center;
    display: block;
    margin: 15px;
}

.titleBorder {
    position: relative;
    top: -17px;
    background-color: white;
    padding: 0 20px;
}

.inputRow {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 25px;
}

.inpItem {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row nowrap;
    margin: 7px 20px;
    position: relative;
}

    .inpItem p {
        color: red;
        position: absolute;
        top: 0;
        left: -10px;
    }

    .inpItem input {
        flex: 0 0 auto;
        border: solid 1px gray;
        -ms-border-radius: 3px;
        border-radius: 3px;
        padding: 5px 0 5px 10px;
        width: 230px;
    }

.socRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px 0;
    width: 90%;
}

    .socRow > button {
        flex: 1 0 auto;
        margin: 0 5px;
        font-family: "rlight";
        font-size: 14pt;
        padding: 10px 10px;
        text-align: left;
        -ms-border-radius: 3px;
        border-radius: 3px;
        border: none;
    }

.inpItem input[placeholder] {
    font-family: "rNormal";
    font-size: 12pt;
}

@media only screen and (max-device-width: 720px) {
    .titleBorder h2 {
        font-size: 12pt;
        text-align: center;
        width: 180px;
    }

    .socRow button {
        width: 100px;
        margin: 10px;
        font-size: 10pt;
        text-align: center;
    }

    .buttonBorder {
        bottom: -20px;
    }

    .popUpWrapper > p {
        text-align: center;
        font-size: 10pt;
    }
}
/*Offer END*/
/*Short Descr */
.sDescrBlock {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background: url("/Content/img/4fon.jpg") no-repeat;
    background-position: 0 -280px;
    padding: 100px 0;
    position: relative;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -ms-opacity: 0.4;
    opacity: 0.4;
    z-index: 2;
}

.sDescrWrapper {
    flex: 0 0 auto;
    max-width: 960px;
    z-index: 3;
}

    .sDescrWrapper p {
        margin: 20px;
        color: white;
        font-size: 14pt;
    }

        .sDescrWrapper p span {
            font-family: "Impact";
            font-size: 15pt;
            font-weight: lighter;
        }
/*Short Descr END*/
/*Paty List*/
.pListItem {
    flex: 0 0 auto;
    position: relative;
    margin: 15px;
}

.plImageWrapper {
    width: 290px;
    overflow: hidden;
}

    .plImageWrapper img {
        width: 100%;
    }

.comingSoon {
    position: absolute;
    background-color: #808080;
    background-color: rgba(128, 128, 128, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
    bottom: 4px;
    opacity: 0;
    transition: 1s;
    padding-top: 20%;
}

    .comingSoon p {
        color: white;
        font-size: 20pt;
        font-weight: bold;
        letter-spacing: 2px;
    }

.pListItem:hover .comingSoon {
    opacity: 1;
    transition: 1s;
}

.bTitle {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0 20px 0;
}

    .bTitle ul {
        display: none;
        color: white;
    }

        .bTitle ul li {
            display: block;
            padding: 0 0 20px;
            text-align: center;
        }

            .bTitle ul li a {
                border-bottom: dotted 1px;
            }

                .bTitle ul li a:hover {
                    color: red;
                }

.pListItem:hover .bTitle ul {
    display: block;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/*.bTitle a {
    display: none;
    color: white;
    text-align: center;
}
.bTitle a span {
    padding: 0;
}
.bTitle a:hover {
    color: red;
}*/
.pListTitel {
    color: red;
    text-transform: uppercase;
    font-family: "rBold";
    font-weight: bolder;
    text-align: center;
    display: block;
    margin: 0;
}

/*Paty List END*/
/*Prevelegii */
.privelegii {
    background: url('/Content/img/prive/55551920.jpg') repeat top center; 
    position: relative;
}
.prevelegiiItem {
    flex: 0 0 auto;
    align-self: flex-start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 20px;
    z-index: 3;
    max-width: 260px;
    width: 100%;
}

.prevelegiiItemAbout {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 20px;
    max-width: 200px;
    width: 100%;
}

.pImgWrapper {
    flex: 0 0 auto;
    width: 90%;
    align-self: flex-start;
    /* ReSharper disable once CssNotResolved */
    transition: 1s;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.pImgWrapper:hover {
    filter: none;
    transition: 1s;
}
    .pImgWrapper img {
        width: 100%;
        border-top: solid 15px #808080;
        border-top: solid 15px rgba(128, 128, 128, 0.8);
        border-left: solid 15px #808080;
        border-left: solid 15px rgba(128, 128, 128, 0.8);
        -webkit-box-shadow: 15px 15px black;
        -ms-box-shadow: 15px 15px black;
        box-shadow: 15px 15px black;
        margin: 10px 0 20px;
    }

.pImgWrapperAbout img {
    width: 100%;
    border-top: solid 15px #808080;
    border-top: solid 10px rgba(128, 128, 128, 0.8);
    border-left: solid 10px #808080;
    border-left: solid 10px rgba(128, 128, 128, 0.8);
    -webkit-box-shadow: 10px 10px black;
    -ms-box-shadow: 10px 10px black;
    box-shadow: 10px 10px black;
    margin: 10px 0 20px;
}

.prevelegiiItem h3 {
    flex: 0 0 28%;
    text-transform: uppercase;
    font-weight: bolder;
    color: red;
    font-family: "rBold";
    font-size: 12pt;
    margin: 15px 0;
}
@media only screen and (max-device-width: 720px) {
    .privelegii {
        background: url("/Content/img/prive/5555320.jpg") repeat-y top center;
        background-size: 100% 100%;
    }
    .prevelegiiItem {
        margin: 0;
    }
    .prevelegiiItem h3 {
        display: block;
        margin: 10px 0 0 0;
        font-size: 12pt;
        font-family: "rBold"
    }

}
/*Prevelegii END*/
/*PhotoGalary */
.myColumn {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 0;
    font-family: "rNormal";
}

    .myColumn > h2 {
        font-size: 26pt;
        text-transform: uppercase;
    }

    .myColumn > h1 {
        font-size: 26pt;
        text-transform: uppercase;
        margin: 0;
    }

.pvImageWr {
    flex: 0 0 auto;
    max-width: 280px;
    position: relative;
    margin: 0 20px;
    overflow: hidden;
}

.actions {
    position: relative;
    background-color: whitesmoke;
    left: 0;
    right: 0;
    bottom: -42px;
    z-index: 2;
}

    .actions a {
        display: block;
    }

        .actions a:hover {
            color: red;
        }

@media only screen and (max-device-width: 720px) {
    .myColumn > h2 {
        font-size: 14pt;
        text-align: center;
    }
}

.pvImageWr:hover .actions {
    bottom: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.pvBorder {
    position: absolute;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;
    border: solid 10px #ffffff;
    border: solid 10px rgba(255, 255, 255, 0.7);
    z-index: 2;
}
.pvVideoWr {
    flex: 0 0 auto;
    padding: 20px 0 0 0;
}
.pvImageWr img {
    width: 100%;
}

.btnBlock {
    flex: 0 0 auto;
    display: flex;
}

    .btnBlock a {
        margin: 20px 10px;
    }
/*PhotoGalary END*/

/*Partners*/
.carouselWrapper {
    flex: 0 0 auto;
    display: none;
}

.partnersCarousel {
    margin: 0 13px;
}

/*.pLogoWrapper {

    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #c2c2c2;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .pLogoWrapper > img {
        width: 100%;
        margin: 20px;
    }*/
/*Partners END*/
/*PopUp Windows Common*/
.popUpWrapper {
    position: fixed;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.formLoginRow {
    flex: 0 0 auto;
    background-color: white;
    padding: 20px 30px 20px 0;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
}

.formLoginItem {
    flex: 0 0 auto;
    max-width: 300px;
    width: 100%;
    margin-left: 30px;
}

.formClose {
    position: absolute;
    right: -20px;
    top: -20px;
    background-color: red;
    width: 30px;
    height: 30px;
    border: solid 2px white;
    border-radius: 50%;
    color: white;
    font-weight: bolder;
    font-size: 14pt;
    cursor: pointer;
}

    .formClose p {
        margin: 0;
        padding: 0;
        top: -2px;
        right: -9px;
        position: relative;
    }

.popUpItem {
    flex: 0 0 auto;
    background-color: white;
    height: 300px;
}

.formWrapper {
    flex: 0 0 auto;
    padding: 25px 30px 15px;
    background-color: white;
    position: relative;
}

    .formWrapper > form {
        display: flex;
        border: solid 2px red;
        position: relative;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        margin: 15px 0 30px 0;
    }

.formLoginItem > form {
    display: flex;
    border: solid 2px red;
    position: relative;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0 30px 0;
}

.formLoginItem > p {
    font-size: 8pt;
    color: darkgray;
    text-align: center;
}

.formTitle {
    position: relative;
    text-align: center;
    top: -15px;
    background-color: white;
    padding: 0 20px;
    font-size: 10pt;
}

.formFooter {
    position: relative;
    bottom: -25px;
    padding: 0 20px;
    background-color: white;
}

/*.formClose {
    width: 20px;
    height: 20px;
    color: white;
    background-color: red;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    padding: 0 3px 5px 3px;
    text-align: center;
    font-weight: 100;
    border: solid 2px white;
    top: -35px;
    right: -35px;
    cursor: pointer;
}*/

.socLogin {
    border: solid 2px darkgray;
    position: relative;
    align-items: center;
    padding: 0 20px 35px;
    margin: 15px 0 0 0;
}

    .socLogin p {
        max-width: 180px;
        text-align: center;
        font-size: 10pt;
        display: block;
        margin: 0 20px 20px;
        color: #848484;
    }

@media only screen and (max-device-width: 720px) {

    .formLoginRow {
        max-width: 340px;
    }

    .socRow {
        margin: 0;
    }

    .formWrapper {
        padding: 10px;
    }

        .formWrapper > form {
            max-width: 300px;
            padding: 20px 10px;
            margin: 25px 0;
        }

            .formWrapper > form > p {
                font-size: 10pt;
                display: none;
            }
}
/*PopUp Windows Common END*/
/*Near Details*/
.nearPartyDetails {
    padding: 50px 0;
}

.patyItemDetails {
    flex: 0 0 auto;
    margin: 20px;
    overflow: hidden;
    max-width: 400px;
}

.npImgWrapper {
    width: 100%;
    position: relative;
}

    .npImgWrapper img {
        width: 100%;
        margin: 0;
        padding: 0;
        max-height: 297px;
    }

.itmDescr {
    overflow: hidden;
    padding: 0 5px;
    font-size: 12pt;
    background-color: rgb(232, 232, 232);
}

    .itmDescr p {
        margin: 0;
        padding: 0;
    }

.npImgWrapper .title {
    position: absolute;
    bottom: 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px 0;
    cursor: pointer;
}

.patyItemDetails:hover .title {
    color: red;
}

.npImgWrapper > h3 {
    position: absolute;
    z-index: 2;
    background-color: red;
    color: white;
    padding: 5px 20px;
    font-size: 16pt;
}

.title a {
    display: none;
}

.patyItemDetails:hover a {
    display: block;
    margin: 105px 130px;
}

@media only screen and (max-device-width: 720px) {
    .patyItemDetails {
        max-width: 300px;
        width: 100%;
    }

        .patyItemDetails:hover a {
            display: block;
            margin: 55px 75px;
        }
}
/*Near Details END*/
/*PAty details*/
.column {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.formBlock {
    flex: 0 0 auto;
    max-width: 960px;
    width: 100%;
    position: relative;
}

.topPicture {
    flex: 0 0 auto;
    max-width: 960px;
    width: 100%;
    height: 434px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.topPicture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.topPicture h1 {
        display: block;
        margin: 20px 0 0 0;
        font-family: "rBold";
        font-size: 28pt;
        color: white;
        z-index: 3;
        position: relative;
    }
.gRg {
    position: relative;
    z-index: 3;
}
.gRg > span {
    width: 100px;
    border-bottom: solid 2px red;
    margin: 5px 0;
    padding: 0 30px;
}

    .gRg > span:first-child, .gRg > span:last-child {
        border-bottom: solid 1px #c7c7c7;
        padding: 0 43px;
    }

.order {
    border: solid 1px gray;
    width: 960px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-top: 10px;
    position: relative;
}
.orderMobile {
    border: solid 1px gray;
    width: 960px;
    padding: 10px;
    margin-top: 10px;
    position: relative;
    max-width: 320px;
}
.orderFormInnerBlock {
    display: inline-block;
}
/**/
.l {
    width: 550px;
    text-align: left;
    margin-right: 10px;
}
    .l h2 {
        margin: 10px;
        font-size: 12pt;
        text-align: justify;
    }
    .l .bordered {
        border-top: dotted 1px;
        width: 100%;
        padding: 10px 0 0 0;
    }

.bordered p {
    margin-left: 10px;
}
.priceValue {
    color: red;
    font-weight: bold;

}

.grayDate {
    background-color: rgb(209, 209, 209);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

    .grayDate .itm {
        display: inline-block;
        height: 50px;
    }
    .itm p {
        display: block;
        margin: 0;
        padding: 0;
    }
    .itm-title {
        flex: 1 1 auto;
        margin: 0 7px 0 0;
        width: 220px;
    }
    .itm-day {
        width: 100px;
        position: relative;
    }
    
    .itm-day p{
        font-size: 50pt;
        position: absolute;
        top: -25px;
        right: 10px;
        font-weight: bolder;
    }
    .itm-title p {
        color: red;
        font-size: 12pt;
    }
    .itm-month-year {
        flex: 1 1 auto;
    }
    .itm-month-year p {
        display: block;
        font-size: 14pt;
        text-transform: uppercase;
        font-weight: bolder;
    }
    .reg {
        width: 150px;
    }

.interest {
    text-align: left;
}

    .interest p:first-child {
        font-weight: bolder;
        text-transform: none;
    }

    .interest p {
        text-transform: lowercase;
    }

.flip-clock-wrapper {
    zoom: 0.7;
    -moz-transform: scale(0.7)
}

.r > div {
    margin: 20px 0;
}
.r>div:last-child {
    right: 0;
    margin: 0;
    position: relative;
    bottom: -6px;
    right: -10px;
}
.freepalce {
    border: solid 3px red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

    .freepalce p {
        font-family: "rBold";
        font-size: 15pt;
        margin: 0 10px 0 0;
    }

    .freepalce span {
        font-size: 30pt;
        font-family: "rBold";
        margin: 0;
    }

.regFormWrapper {
    position: relative;
    background-color: white;
}

    .regFormWrapper form {
        border: solid 2px red;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 40px;
    }

.inpItem input[type=number] {
    width: 50px;
    height: 30px;
}

.inpItem label {
    line-height: 30px;
    margin-right: 20px;
    font-family: "rNormal";
}

.rate {
    color: white;
    text-align: right;
    position: relative;
}
.rate span {
    background-color: red;
    padding: 5px;
    position: relative;
}
.formReq {
    font-size: 8pt;
    text-align: center;
    padding: 10px 0;
}
.mobilePaty {
    width: 100%;
    padding: 5px 10px;   
}
.mobileOffer {
    border: solid 1px gray;
    padding: 10px 10px 20px;
    position: relative;
}
@media only screen and (max-device-width: 720px) {
    .order {
        width: 100%;
    }
    .orderMobile h2 {
        font-size: 12pt;
    }
    .order h2 {
        font-size: 12pt;
    }
    .column {
        margin: 0;
        padding: 0;
    }
    .topPicture {
        height: 220px;
    }
    .topPicture h1 {
        font-size: 16pt;
    }
    .grayDate {
        max-height: 80px;
        padding: 10px;
    }

    .itm-title {
        width: 150px;
        height: 100%;
    }
    .itm-title p {

        font-size: 11pt;
    }
    .itm-day p {
        font-size: 44pt;
        top: -19px;
    }
    .itm-month-year p {
        flex: 0 0 auto;
        font-size: 12pt;
        width: 100px;
    }
    .bordered {
        border-top: dotted 2px gray;
    }
    .bordered p {
        margin: 0;
    }
    .discount p {
        display: block;
    }
    .discount a img {
        margin: 5px 10px;
        cursor: pointer;
    }
    .freepalce {
        padding: 0;
        margin: 5px 0;
        border: solid 5px gray;
    }
    .regFormWrapper {
        padding: 30px 0;
    }
    .regFormWrapper .absolute {
        bottom: 5px;
    }
    .regFormWrapper .redButton {
        font-size: 10pt;
    }
    .rate {
        bottom: 0;
        background-color: whitesmoke;
        color: black;
        font-weight: bold;
    }
    .rate span {
        color: red;
    }
}
/*PAty details END*/
/*PhotoGalary*/
.albomsRow {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 970px;
    width: 100%;
    margin-top: 20px;
}

.alItem {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 350px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 300px;
    width: 300px;
    margin: 15px 10px;
    text-align: center;
}

    .alItem p {
        margin: 0;
    }

    .alItem h3 {
        margin: 10px 10px;
    }

.pGimgWrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

    .pGimgWrapper img {
        width: 100%;
    }

.alItem a {
    display: block;
    padding: 0;
}
.watchAlbom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);
    color: red;
}

    .watchAlbom:hover {
        top: 0;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }

.watchAlbom:hover i {
            display: block;
        }

    .watchAlbom i {
        margin: 22%;
        display: none;
    }

    .watchAlbom p {
        padding: 10px;
    }

        .watchAlbom p span {
            font-size: 12pt;
        }

.pageLinks {
    margin: 20px 0 0 0;
}

    .pageLinks a {
        margin: 0 2px;
        border: solid 1px gray;
        width: 25px;
        line-height: 25px;
        text-align: center;
        background-color: lightgray;
    }

        .pageLinks a:hover {
            background-color: white;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
        }
        .currentPage {
            background-color: red !important;
            color: white;
            font-weight: bolder;
        }

.albomStat {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
    padding: 10px;
}

    .albomStat p {
        padding: 0 15px 0 5px;
    }

    .albomStat i:last-child {
        flex: 1 0 auto;
        padding: 
    }

    .albomStat a {
        display: inline-block;
        flex: 2 0 auto;
    }

        .albomStat a p {
            display: inline;
        }

.albomHead {
    background-color: whitesmoke;
    width: 970px;
    display: block;
    text-align: center;
    padding: 0 0 10px;
}

.regionTitle {
    text-align: left;
    max-width: 970px;
    width: 100%;
    background-color: whitesmoke;
}

    .regionTitle > p > span {
        font-size: 16pt;
        margin-right: 20px;
        color: gray;
    }

    .regionTitle p {
        text-align: justify;
    }

.regionDescr:first-letter {
    padding-left: 20px;
}

.albomTitle span {
    font-size: 16pt;
    margin-right: 20px;
}

    .albomTitle span:first-child {
        color: gray;
    }

/*PhotoGalary END*/
/*Paty Index*/
.rootItem {
    flex: 0 0 auto;
    box-sizing: border-box;
    max-width: 400px;
    width: 100%;
}

.rootItemWrapper {
    margin: 10px;
    position: relative;
}

    .rootItemWrapper img {
        width: 100%;
    }

.rootTitle {
    position: absolute;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    width: 100%;
    color: white;
    text-align: center;
}

    .rootTitle p {
        font-size: 16pt;
        display: block;
        padding: 15px;
    }

    .rootTitle:hover ul {
        display: block;
    }

    .rootTitle:hover > p {
        color: red;
    }

    .rootTitle ul {
        display: none;
    }

    .rootTitle > ul > li > p {
        display: block;
        margin: 0;
        padding: 0 0 10px 0;
    }

.comingSoon1 {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
    font-weight: bolder;
    letter-spacing: 2px;
}

@media only screen and (max-device-width: 720px) {
    .rootItem {
        max-width: 300px;
        width: 100%;
    }
}
/*Paty Index END*/
/*About 1*/
.about1 p {
    padding: 20px;
    font-size: 14pt;
}

.about1 span {
    font-family: "Impact";
}

.about1 ul li {
    display: flex;
    margin: 10px 0;
}

    .about1 ul li img {
        height: 63px;
        margin: 0 20px 0 0;
    }

    .about1 ul li p {
        padding: 0;
    }

.aboutBg {
    background: url("/Content/img/about/about.jpg") no-repeat top left;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0;
    position: relative;
}

    .aboutBg p {
        color: white;
        z-index: 3;
    }

.myColumn > h3 {
    display: block;
    font-size: 18pt;
    margin: 20px 0 0 0;
}

h3 > span {
    font-family: "Impact";
    font-weight: lighter;
}

.about1 table {
    width: 100%;
}

    .about1 table tr {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 20px 0;
    }

        .about1 table tr td {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

            .about1 table tr td i {
                border: solid 2px red;
                color: red;
                font-family: "rBold";
                display: block;
                font-size: 30pt;
                font-weight: bolder;
                width: 60px;
                text-align: center;
                margin: 0 20px;
            }

            .about1 table tr td p {
                display: block;
                margin: 0;
                padding: 0;
            }
/*About 1 END*/
/*Contacts*/
.contacts {
    max-width: 970px;
    width: 100%;
    margin: 20px 0 0 0;
}

    .contacts tr td {
        position: relative;
    }

    .contacts tr:last-child {
        height: 550px;
    }

    .contacts tr td img {
        position: absolute;
        height: 600px;
        z-index: -1;
        top: 0;
    }

    .contacts i {
        color: red;
        background-color: whitesmoke;
        font-size: 16pt;
        width: 50px;
        height: 50px;
        position: relative;
        text-align: center;
        padding-top: 15px;
    }

    .contacts li {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        position: relative;
    }

        .contacts li i {
            color: red;
            background-color: whitesmoke;
            font-size: 16pt;
            width: 50px;
            height: 50px;
            position: relative;
            text-align: center;
            padding-top: 15px;
        }

        .contacts li img {
            height: 300px;
            position: absolute;
            top: 0;
        }

        .contacts li:last-child {
            height: 300px;
            width: 100%;
            overflow: hidden;
        }

@media only screen and (max-device-width: 720px) {
    .contacts tr:last-child {
        height: 550px;
    }

    .contacts tr td img {
        position: absolute;
        height: 600px;
        z-index: -1;
        top: 0;
    }
}
/*Contacts END*/
/*Blog*/
.blogList li a {
    margin: 30px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 2px gray;
}

.blogPvImageWr {
    float: right;
    position: relative;
    margin: 20px;
    overflow: hidden;
    max-width: 400px;
}

.blogText {
    max-width: 500px;
    max-height: 280px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
}

.bottomFade {
    position: absolute;
    background: linear-gradient(0deg, white,transparent);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

.blogText p {
    text-align: justify;
}

    .blogText p:first-letter {
        margin-left: 30px;
    }

.blogText h3 {
    color: red;
    font-size: 16pt;
}

.tdImage img {
    width: 100%;
}
.tdImage>.pvBorder {
    bottom: 0; 
}
.myBlogDetails {
    display: block;
    width: 100%;
}

    .myBlogDetails h2 {
        display: block;
        background-color: whitesmoke;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 30px 0;
        padding: 5px;
    }

    .myBlogDetails img {
        float: right;
        margin: 0 0 0 20px;
    }

    .myBlogDetails p {
        text-align: justify;
        padding: 0 0 10px 0;
    }

        .myBlogDetails p:first-letter {
            padding: 0 0 0 20px;
        }

@media only screen and (max-device-width: 720px) {
    .blogText {
        order: 1;
        padding: 20px;
    }

    .blogPvImageWr {
        flex: 0 0 auto;
        order: 0;
        max-width: 300px;
        width: 100%;
        margin: 0 20px 20px;
    }

    .myBlogDetails {
        padding: 0 20px;
    }
}
/*Blog END*/
/*Otzivi*/
.otzivi {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.otziv {
    margin: 20px 0;
    max-width: 430px;
}
.otzivTitle {
    background-color: lightgray;
    padding: 5px;
}
.otzivTitle h3 {
    font-size: 12pt;
    font-family: "rNormal";
    font-weight: 100;
}
@media only screen and (max-device-width: 720px) {
    .myColumn h1 {
        text-align: center;
    }
    .otzivi {
        flex-flow: column;
        align-items: center;
        width: 100%;
    }
    .otziv {
        max-width: 300px;
    }
}
/*Otzivi END*/
