@font-face {
    font-family: "Impact";
    src: url("/Content/fonts/IMPACT.TTF") format("truetype");
}
@font-face {
    font-family: "rBold";
    src: url("/Content/fonts/RobotoCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "rNormal";
    src: url("/Content/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "rLight";
    src: url("/Content/fonts/RobotoCondensed-Light.ttf") format("truetype");
}
.redColor {
    color: #fe0000;
}
.grayColor {
    color: #484848;
}
.redBack {
    background-color: #fe0000;
}
p,ul,h2,h3,h4,h5 {
    margin: 0;
    font-family: "rNormal";
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
    font-family: "rNormal";
    display: inline-block;
}
.flexRow {
    display: flex;
    flex-flow: row;
}
.flexCol {
    display: flex;
    flex-flow: column;
}
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fefefe;
}
header, nav, footer {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
.row960 {
    flex: 1 0 auto;
    max-width: 970px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.row960w {
    flex: 1 0 auto;
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.hBlock {
    padding: 10px 0;
}
.hMidle {
    flex: 1 0 auto;
    align-self: flex-start;
}
.hMidle h1 {
    font-family: "rBold";
    text-align: center;
    margin: 0;
    font-size: 18pt;
}
.hLeft {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.redButton {
    display: block;
    margin: 0;
    padding: 5px 30px 7px;
    font-family: "rLight";
    color: #fff;
    font-size: 15pt;
    font-weight: 100;
    text-align: center;
    /* ReSharper disable once UnknownCssVendorExtension */
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: none;
    border-bottom: solid 3px #cc0b00;
    background-color: red;
}
.redLink {
    font-family: "rNormal";
    text-decoration: none;
    color: #fe0000;
    font-size: 14pt;
    letter-spacing: -1px;
    border-bottom: dotted 2px red;
}
.grayButton {
    display: block;
    margin: 0;
    padding: 5px 30px 7px;
    font-family: "rLight";
    color: #666666;
    font-size: 15pt;
    font-weight: 100;
    text-align: center;
    /* ReSharper disable once UnknownCssVendorExtension */
    -ms-border-radius: 5px;
    border-radius: 5px;
    border-bottom: solid 3px #b5b5b5;
    background-color: #dfdfdf;
}
.socLinks {
    flex: 1 0 auto;
}
.socLinks a {
    margin: 3px 3px
}
.hLeft p {
    flex: 1 0 auto;
    font-family: "rNormal";
    margin: 7px;
}
.hMidle h1 span {
    font-family: "Impact";
    font-size: 20pt;
    font-weight: normal
}
.hRight {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.hRight p img {
    margin: 0 7px 0 0;
}
.hRight a img {
    margin: 0 15px 0 0;
}
.hRight p {
    margin: 0;
    font-family: "rNormal";
    font-size: 17pt;
    color: #484848;
}
.hRight>a {
    font-family: "rNormal";
    display: block;
    font-size: 15pt;
    text-decoration: none;
    color: #484848;
    letter-spacing: -1px;
}
.regBlock {
    padding: 3px 0;
}

.regBlock span {
    font-family: "rNormal";
    color: #484848;
    padding: 0 5px;
    font-size: 14pt;
}
nav {
    height: 48px;
    background-color: whitesmoke;
    border-top: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;

}
.lMenu {
    flex: 1 0 40%;
    align-self: center;
}
.mLogo {
    flex: 0 0 auto;
    position: relative;
    width: 122px;
    margin: 0 20px;
}
.mLogo img {
    position: absolute;
    top: -61px;
    left: 0;
    z-index: 2;
}
.rMenu {
    flex: 1 0 40%;
    align-self: center;
}
.topMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "rNormal";
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 15pt;
    text-transform: uppercase;
}
.topMenu ul li {
    display: flex;
    align-items: center;
    height: 50px;
}
.topMenu ul li a:hover {
    border-bottom: solid 3px red;
}
.topMenu ul li i {
    color: #898989;
    margin: 0 0 0 10px;
    display: inline;
}
.topMenu ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 0 0 0 30px;
    border-bottom: solid 3px transparent;
    padding: 9px 0;
}
.topMenu ul li:first-child a {
    margin: 0 0 0 10px;
}
/****************************************************/
footer {
    flex: 0 0 auto;
    width: 100%;
    background-color: #e8e8e8;
}
.fBlock {
    flex: 1 0 20%;
    margin: 30px 0;
    color: #585858;
    font-size: 11pt;
    padding: 0 10px;
    align-self: flex-start;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.fWe {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.fWe p {
    margin: 0 10px 20px 0;
}
.lList ul {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.lList ul li {
    flex: 1 0 auto;
    margin: 2px 0;
}
.lList ul li a {
    line-height: 22px;
    text-decoration: underline;
}
.fContact {
    flex: 1 0 auto;
    align-items: flex-start;
}
.fContact h2{
    text-transform: uppercase;
    color: red;
    margin: 0;
    font-size: 14pt;
    font-weight: 100;
}
.fContact h3 {
    font-weight: 100;
    font-size: 15pt;
}
.fLogo p{
    margin: 30px 0 10px;
}
.mainContent {
    flex: 1 0 auto;
    width: 100%;
}
/*Top slider*/
.topSlider {
    flex: 0 0 auto;
    position: relative;
}
.dotsLayer {
    position: absolute;
    z-index: 7;

}
.dotsLayer>div {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: solid 2px white;
    background-color: transparent;
    margin: 0 5px;
}
.dotsLayer>div.active {
    background-color: red;
}
.topSlider>img {
    z-index: 2;
    height: 100%;
}
.slItem h2 {
    position: absolute;
    text-transform: uppercase;
    color: white;
    top: 6%;
    right: 30%;
    word-spacing: 30px;
    font-size: 2em;
}
.slItem img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    /* ReSharper disable once CssNotResolved */
    filter: grayscale(100%);
    transition: 0.5s;   
}
.slItem img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    filter: none;
    transition: 0.5s;
}

/*Top Slider End*/
/*Paty*/
.nearParty {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 40px 0; 
}
.nearParty h2 {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 0 0;
    font-size: 24pt;
}
.nearParty>div>span {
    width: 100px;
    border-bottom: solid 2px red;
    margin: 5px 0;
    padding: 0 30px;
}
.nearParty>div>span:first-child, .nearParty>div>span:last-child {
    border-bottom: solid 1px #c7c7c7;
    padding: 0 43px;
}
.patyCarousel {
    flex: 1 0 auto; 
    margin: 40px  0;
    box-sizing: border-box;
}
.carItem {
    position: relative;
}
.topString {
    height: 40px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #e8e8e8;
}
.whiteBg {
    background-color: white;
    height: 100%;
    padding: 0 30px;
}
.whiteBg .redline {
    background-color: red;
    height: 3px;
    width: 100px;
}
.whiteBg .pD {
    height: 100px;
    overflow: hidden;
}
.whiteBg>a {
    text-align: right;
    margin-bottom: 5px;
    display: block;

}
.prevItem, .nextItem {
    padding: 0 10px;
    cursor: pointer;
}
/*Paty End*/
/*Offer*/
.offerBlock {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
}
.offerBlock>p {
    color: gray;
}
.offerWrapper {
    flex: 0 0 auto;
    max-width: 970px;
    width: 100%;
    border: solid 2px red;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 40px 0 20px 0;
    margin-bottom: 30px;

}
.buttonBorder {
    border-left: solid 5px white;
    border-right: solid 5px white;
    position: absolute;
}

form>p {
    text-align: center;
    display: block;
    margin: 15px;
}
.titleBorder {
    border-left: solid 5px white;
    border-right: solid 5px white;
    position: absolute;
    top: -18px;
    background-color: white;
}
.inputRow {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 25px;
}
.inpItem {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row nowrap;
    margin: 7px 20px;
    position: relative;
}
.inpItem p {
    color: red;
    position: absolute;
    top: 0;
    left: -10px;
}
.inpItem input {
    flex: 0 0 auto;
    border: solid 1px gray;
    border-radius: 3px;
    padding: 5px 0 5px 10px;
    width: 230px;

}
.socRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px 0;
    width: 90%;
}
.socRow>button {
    flex: 1 0 auto;
    margin: 0 5px;
    font-family: "rlight";
    font-size: 14pt;
    padding: 10px 10px;
    text-align: left;
    border-radius: 3px;
    border: none;
}
.inpItem input[placeholder] {
    font-family: "rNormal";
    font-size: 12pt;
}
/*Offer END*/
/*Short Descr */
.sDescrBlock {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background: url("/Content/img/4fon.jpg") no-repeat;
    background-position: 0 -280px;
    padding: 100px 0;
    position: relative;
}
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 2;
}
.sDescrWrapper {
    flex: 0 0 auto;
    max-width: 960px;
    z-index: 3;
}
.sDescrWrapper p {
    margin: 20px;
    color: white;
    font-size: 14pt;
}
.sDescrWrapper p span {
    font-family: "Impact";
    font-size: 15pt;
    font-weight: normal}
/*Short Descr END*/
/*Paty List*/
.pListItem {
    flex: 0 0 28%;
    height: 258px;
    margin: 20px;
    position: relative;
    overflow: hidden;
}
.bTitle {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0 20px 0;
}
.bTitle ul {
    display: none;
    color: white;
}
.bTitle ul li {
    display: block;
    padding: 0 0 20px;
    text-align: center;
}
.bTitle ul li a {
    border-bottom: dotted 1px;
    
}
.bTitle ul li a:hover {
    color: red;
}
.pListItem:hover .bTitle ul {
    display: block;
    transition: all 1s;
}

/*.bTitle a {
    display: none;
    color: white;
    text-align: center;
}
.bTitle a span {
    padding: 0;
}
.bTitle a:hover {
    color: red;
}*/
.pListTitel {
    color: red;
    text-transform: uppercase;
    font-family: "rBold";
    font-weight: bolder;
    text-align: center;
    display: block;
    margin: 0;
}

/*Paty List END*/
/*Prevelegii */
.prevelegiiItem {
    flex: 0 0 28%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 10px;
    z-index: 3;
    cursor: pointer;
}
.pImgWrapper {
    flex: 0 0 auto;
    width: 90%;
    align-self: flex-start;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    /* ReSharper disable once CssNotResolved */
    filter: grayscale(100%);
}
.pImgWrapper:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    filter: none;
    transition: 1s;
}

.pImgWrapper img {
    width: 100%;
    border-top: solid 15px rgba(128, 128, 128, 0.8);
    border-left: solid 15px rgba(128, 128, 128, 0.8);
    box-shadow: 15px 15px black;
    margin: 10px 0 20px;
}
.prevelegiiItem h3 {
    flex: 0 0 28%;
    text-transform: uppercase;
    font-weight: bolder;
    color: red;
    font-family: "rBold";
    font-size: 12pt;
    margin: 15px 0;
}
/*Prevelegii END*/
/*PhotoGalary */
.pvImageWr {
    flex: 0 0 23%;
    position: relative;
    margin: 20px;
    height: 181px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    /* ReSharper disable once CssNotResolved */
    transition: 1s;
    filter: grayscale(100%);
}
.pvBorder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 10px rgba(255, 255, 255, 0.7);
    z-index: 2;
}
.pvImageWr img {
    width: 100%;
}
.pvImageWr:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    filter: none;
    transition: 1s;
}
.btnBlock {
    flex: 0 0 auto;
    display: flex;
}
.btnBlock a {
    margin: 20px 10px;
}
/*PhotoGalary END*/

/*Partners*/
.partnersCarousel {
    flex: 0 0 auto;
    align-self: center;
}
.pLogoWrapper {
    height: 154px;
    width: 154px;
    border-radius: 50%;
    background-color: #c2c2c2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pLogoWrapper>img {
    margin: 20px;
}
/*Partners END*/
/*PopUp Windows Common*/
.popUpWrapper {
    position: fixed;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.formWrapper {
    flex: 0 0 auto;
    padding: 25px 30px 15px;
    background-color: white;
    position: relative;

}
.formWrapper>form {
    display: flex;
    border: solid 2px red;
    position: relative;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0 30px;
    margin: 10px 0 30px 0;
}
.formWrapper>p {
    font-size: 8pt;
    color: darkgray;
    text-align: center;
}
.formTitle {
    position: absolute;
    text-align: center;
    top: -16px;
    background-color: white;
    padding: 0 20px;
    font-size: 10pt;
}
.formFooter {
    position: absolute;
    bottom: -20px;
    padding: 0 20px;
    background-color: white;
}
.formClose {
    width: 20px;
    height: 20px;
    color: white;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    padding: 0px 3px 5px 3px;
    text-align: center;
    font-weight: 100;
    border: solid 2px white;
    top: -35px;
    right: -35px;
    cursor: pointer;
}
.socLogin {
    border: solid 2px darkgray;
    position: relative;
    align-items: center;
    padding: 50px 20px 30px;
    margin: 10px 0 30px 30px;

}
.socLogin p {
    max-width: 180px;
    text-align: center;
    font-size: 10pt;
    display: block;
    margin: 0 20px 20px ;
    color: #848484;
}
/*PopUp Windows Common END*/
/*Near Details*/
.nearPartyDetails {
    padding: 50px 0;
}
.patyItemDetails {
    flex: 0 0 45%;
    margin: 20px;
    overflow: hidden;
}
.npImgWrapper {
    width: 100%;
    position: relative;
    height: 297px;
}
.npImgWrapper img {
    width: 100%;
    margin: 0;padding: 0;
    max-height: 297px;
}
.itmDescr {
    height: 70px;
    overflow: hidden;
    padding: 0 5px;
    font-size: 18pt;
    background-color: rgb(232, 232, 232);
}
.itmDescr p {
    margin: 0;padding: 0;
}
.npImgWrapper .title {
    position: absolute;
    bottom: 0px;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px 0;
    cursor: pointer;
}
.npImgWrapper .title:hover {
    color: red;
}
.npImgWrapper>h3 {
    position: absolute;
    z-index: 2;
    background-color: red;
    color: white;
    padding: 5px 20px;
    font-size: 16pt;
}
.title a {
    display: none;
}
.title:hover a {
    display: block;
    margin: 105px 130px;
}

/*Near Details END*/
/*PAty details*/
.column {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 0;
    box-sizing: border-box;
}
.formBlock {
    flex: 0 0 auto;
    max-width: 960px;
    width: 100%;
    position: relative;
}
.topPicture {
    flex: 0 0 auto;
    max-width: 960px;
    width: 100%;
    height: 434px;
    text-align: center;
}
.topPicture h1 {
    display: block;
    margin: 20px 0 0 0;
    font-family: "rBold";
    font-size: 28pt;
    color: white;
}
.gRg>span {
    width: 100px;
    border-bottom: solid 2px red;
    margin: 5px 0;
    padding: 0 30px;
}
.gRg>span:first-child, .gRg>span:last-child {
    border-bottom: solid 1px #c7c7c7;
    padding: 0 43px;
}
.order {
    border: solid 1px gray;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}
.l {
    flex: 1 0 60%;
    text-align: left;
}
.l h2 {
    margin: 10px 20px;
   
}
.l .bordered {
    border-top: dotted 1px;
    width: 100%;
    padding: 10px 0 0 0;
    margin: 5px;
}
.bordered p {
    margin-left: 20px;
}
.r,.l {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.r {
    flex: 1 0 40%;
}
.grayDate {
    background-color: rgb(209, 209, 209);
    width: 100%;
    display: flex;
    align-items: center;
}
.grayDate .itm {
    flex: 0 0 auto;
    position: relative;
    padding: 5px;
}
.grayDate .reg {
    flex: 0 0 auto;
    padding: 5px;
}
.itm:first-child {
    flex: 0 0 35%;
}
.itm h4{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 90pt;
    position: absolute;
    top: -28px;
}
.itm h5 {
    font-size: 24pt;
    text-transform: uppercase;
    display: block;
    padding: 0;
    margin: 0;
}
.itm h3 {
    font-size: 28pt;
    text-transform: uppercase;
    color: rgb(254, 0, 0);
    text-align: left;
}
.interest {
    text-align: left;
}
.interest p:first-child {
    font-weight: bolder;
    text-transform: none;
}
.interest p {
    text-transform: lowercase;
}
.flip-clock-wrapper {
    zoom: 0.7;
}
.r>div {
    flex: 0 0 auto;
    margin: 20px;
}
.freepalce {
    border: solid 3px red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.freepalce p {
    font-family: "rBold";
    font-size: 15pt;
    margin: 0 20px 0 0;
}
.freepalce span {
    font-size: 30pt;
    font-family: "rBold";
    margin: 0;
}
.regFormWrapper {
    position: relative;
    background-color: white;
}
.regFormWrapper form {
    border: solid 2px red;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0 30px 0;
}
.inpItem input[type=number] {
    width: 30px;
    height: 25px;
}
.inpItem label {
    line-height: 35px;
    margin-right: 20px;
    font-family: "rNormal"
}
.rate {
    position: absolute;
    bottom: 11px;
    right: 1px;
    background-color: red;
    color: white;
    padding: 5px;
}
.formReq {
    font-size: 8pt;
    text-align: center;
    padding: 10px 0;
}
/*PAty details END*/